.qrcode {
    width: 100%;
    img {
        width: 100%;
    }
}
.qlc-table-row {
    font-family: "Lato", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background: #ffffff;
    color: #595757;
    font-size: 13px;
    text-transform: none;
    border-bottom: 1px solid #edeef4;
    min-height: 46px;
}
.qlc-table-row div {
    padding: 16px 10px 10px 10px;
}
.qlc-table-row-twolines {
    padding-bottom:10px;
}