<!-- LATEST TRANSACTIONS -->
<div class="container mt-0 qlc-content-first">
    <div class="row">
        <div class="col-12 pl-0 pr-0 pb-2">
            
            <!-- TITLE -->
            <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
                <div class="content-title">
                    <h1>Wallet Details</h1>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div class="container pb-2">
    <div class="row">
        <!-- LEFT -->
        <div class="col-lg-9 col-md-12 col-sm-12 order-lg-1 order-2 pl-0 pr-0 mb-3">
            
            <div class="container">
                
                <div class="row">
                    <div class="col-12 pb-2 pl-2 pr-2">
                        <div class="content-box-blue h-auto pb-3">
                            <div class="container">
                                <div class="row qlc-table-header-blue">
                                    <div class="col-12">Address</div>
                                </div>
                                <div class="row qlc-table-row-blue row-text-mid mt-3">
                                    <div class="col-12 text-break pr-3"><span *ngIf="addressBookModel != ''">{{ addressBookModel }} - </span>{{ accountId }} <a ngxClipboard [cbContent]="accountId"><img src="assets/img/icons/copy.svg" class="img-copy" data-toggle="tooltip" data-placement="top" title="Copy to clipboard"></a></div>
                                    <div class="col-12 px-0" *ngIf="showEditName">
                                        <div class="editNameButtons">
                                            <div class="row">
                                                <div class="col-md-12 col-12 py-3">
                                                    <input type="text" class="form-control" [(ngModel)]="addressBookModel" />
                                                </div>
                                                <div class="col-md-4 col-12 ">
                                                    <button class="btn btn-primary" type="button" (click)="editNameCancel()">
                                                        {{ 'CANCEL' | translate }}
                                                    </button>
                                                </div>
                                                <div class="col-md-4 col-12 py-3 py-md-0 ">
                                                    <button class="btn btn-primary" type="button" (click)="editNameSave()">
                                                        {{ 'OK' | translate }}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    <!-- BALANCE QLC -->
                    <div class="col-md-4 col-sm-6 col-12 pl-2 pr-2">
                        <div class="content-box-white h-auto mt-2 pb-2">
                            <div class="container">
                                <div class="row qlc-table-header-white">
                                    <div class="col-12">QLC Balance</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-3 mt-3">
                                        <img src="assets/img/token-qlc.png" class="w-100 icon-token">
                                    </div>
                                    <div class="col-9 pr-0 pl-0">
                                        <div class="row qlc-table-row-white row-text-mid mt-3 pb-0">
                                            <div class="col-12 pb-0" *ngIf="accountMeta.balances != null && accountMeta.balances['QLC']">{{ accountMeta.balances['QLC'].balance | qlc }}</div>
                                            <div class="col-12 pb-0" *ngIf="accountMeta.balances == null || (accountMeta.balances != null && !accountMeta.balances['QLC'])">NaN</div>
                                        </div>
                                        <div class="row qlc-table-row-white sub-page pt-0">
                                            <div class="col-12 text-wrap pt-0"><span class="text-blue">= 0.00 $</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-12 pl-0 pr-0">
                                    <button (click)="receive('QLC')" type="submit" class="btn btn-primary btn-purple btn-icon-receive w-100 pl-2 pr-2">RECEIVE QLC <span class="superlight">({{ walletAccount.pendingCount }} Pending)</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- BALANCE Q-SMS -->
                    <div class="col-md-4 col-sm-6 col-12 pl-2 pr-2">
                        <div class="content-box-white h-auto mt-2 pb-2">
                            <div class="container">
                                <div class="row qlc-table-header-white">
                                    <div class="col-12">Q-SMS Balance</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-3 mt-3">
                                        <img src="assets/img/token-sms2.png" class="w-100 icon-token">
                                    </div>
                                    <div class="col-9 pr-0 pl-0">
                                        <div class="row qlc-table-row-white row-text-mid mt-3 pb-0">
                                            <div class="col-12 pb-0" *ngIf="accountMeta.balances != null && accountMeta.balances['Q-SMS']">{{ accountMeta.balances['Q-SMS'].balance | qlc }}</div>
                                            <div class="col-12 pb-0" *ngIf="accountMeta.balances == null || (accountMeta.balances != null && !accountMeta.balances['Q-SMS'])">NaN</div>
                                        </div>
                                        <div class="row qlc-table-row-white sub-page pt-0">
                                            <div class="col-12 text-wrap pt-0"><span class="text-blue">= 0.00 $</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-12 pl-0 pr-0">
                                    <button (click)="receive('Q-SMS')" type="submit" class="btn btn-primary btn-blue2 btn-icon-receive w-100 pl-2 pr-2">RECEIVE Q-SMS <span class="superlight">(0 Pending)</span></button>
                                </div>
                            </div>
                        </div>
                    </div>     
                    
                    <!-- BALANCE Q-GAS -->
                    <div class="col-md-4 col-sm-6 col-12 pl-2 pr-2">
                        <div class="content-box-white h-auto mt-2 pb-2">
                            <div class="container">
                                <div class="row qlc-table-header-white">
                                    <div class="col-12">Q-GAS Balances</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-3 mt-3">
                                        <img src="assets/img/token-gas.png" class="w-100 icon-token">
                                    </div>
                                    <div class="col-9 pr-0 pl-0">
                                        <div class="row qlc-table-row-white row-text-mid mt-3 pb-0">
                                            <div class="col-12 pb-0" *ngIf="accountMeta.balances != null && accountMeta.balances['Q-GAS']">{{ accountMeta.balances['Q-GAS'].balance | qlc }}</div>
                                            <div class="col-12 pb-0" *ngIf="accountMeta.balances == null || (accountMeta.balances != null && !accountMeta.balances['Q-GAS'])">NaN</div>
                                        </div>
                                        <div class="row qlc-table-row-white sub-page pt-0">
                                            <div class="col-12 text-wrap pt-0"><span class="text-blue">= 0.00 $</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-12 pl-0 pr-0">
                                    <button (click)="receive('Q-GAS')" type="submit" class="btn btn-primary btn-darkgrey btn-icon-receive w-100 pl-2 pr-2">RECEIVE Q-GAS <span class="superlight">(0 Pending)</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-12 pl-0 pr-0">
                                    <button (click)="claim('Q-GAS')" type="submit" class="btn btn-primary btn-green btn-icon-qlc w-100 pl-2 pr-0">CLAIM Q-GAS <span class="superlight">(0)</span></button>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            
            
        </div>
        
        <!-- RIGHT -->
        <div class="col-lg-3 col-md-12 col-sm-12 order-lg-2 order-1 pl-0 pr-0 mb-xs-3 mb-3">
            
            <div class="col-12 pl-2 pr-2 h-100">
                <div class="content-box-darkblue h-100 pb-4 pr-0">
                    
                    <div class="container">
                        <div class="row qlc-table-header-blue">
                            <div class="col-12">Account Actions</div>
                        </div>
                        <div class="row pt-3 pr-0">
                            <div class="col-12 pr-0">
                                <a routerLink="/send/{{ accountId }}" class="menu-myaccount menu-icon-send pr-0">Send Tokens</a>
                                <a (click)="openModal(qrCode)" class="menu-myaccount menu-icon-qrcode pr-0">Show QR Code</a>
                                <a (click)="editName()" class="menu-myaccount menu-icon-rename pr-0">Rename Account</a>
                                <a routerLink="/account/{{ accountId }}" class="menu-myaccount menu-icon-details pr-0">Account Details</a>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
</div>


<!-- PENDING TRANSACTIONS -->
<div class="container mt-3 mb-0" *ngIf="pendingBlocks.length > 0">
  <div class="row">
    
    <div class="col-12 pl-0 pr-0">
      
      <!-- TITLE -->
      <div class="col-lg-12 mb-3 mt-2 pl-md-2 pr-md-2">
        <div class="content-title">
          <h1>Pending Transactions</h1>
        </div>
      </div>

      <!-- LIST -->
      <div class="col-lg-12 mb-4 pl-md-2 pr-md-2">
        <div class="content-box-white">


          <div class="container">

            <div class="row qlc-table-header">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-4 pb-0">Type</div>
              <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5 col-7 text-truncate">Account / Transaction ID</div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 pr-sm-0 pr-4 text-right">Amount</div>
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 d-none d-sm-block col-6 pr-4 text-right">Time</div>
            </div>
            <div class="row qlc-table-row qlc-table-row-twolines closed" *ngFor="let pending of pendingBlocks">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-4 pb-0">
                  <span class="qlc-icon icon-receive" title="Receive"></span>
                  <span class="d-none d-sm-none d-md-inline-block">
                    <span class="text-color-lightgrey">State</span><br>
                    <span class="text-bold-grey">Receive</span>
                  </span>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5 col-7 pb-0 text-truncate">
                  <span class="text-color-lightgrey">from:</span> 
                  <a [routerLink]="'/account/' + (pending.account)">{{ pending.account }}</a>
                  <a [routerLink]="'/transaction/' + pending.hash"><br>
                    <span class="text-tiny">{{ pending.hash }}</span>
                  </a>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 pb-0 pr-sm-0 pr-4 text-right {{
                  pending.type == 'Send' ? 'text-color-red' : 'text-color-green'
                }}">
                  <span data-toggle="tooltip" data-placement="top" title="+9.00 $">{{pending.type == 'Send' ? '-' : '+'}} {{ pending.amount | qlc | currency:'':'':'1.2-8' }}</span>
                  <br><span class="text-color-grey">{{ pending.tokenName }}</span>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-12 pr-4 text-right">
                  {{ pending.timestamp * 1000 | date: 'short' }}
                </div>
                <div class="container transaction-details">
  
                </div>
              </div>


          </div>


        </div>
      </div>

    </div>
    
  </div>
</div>

<!-- LATEST TRANSACTIONS -->
<div class="container mt-0 mb-3">
  <div class="row">
    
    <div class="col-12 pl-0 pr-0">
      
      <!-- TITLE -->
      <div class="col-lg-12 mb-3 mt-2 pl-md-2 pr-md-2">
        <div class="content-title">
          <h1>Latest Transactions</h1>
        </div>
      </div>

      <!-- LIST -->
      <div class="col-lg-12 mb-4 pl-md-2 pr-md-2">
        <div class="content-box-white">


          <div class="container">

            <div class="row qlc-table-header">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-4 pb-0">Type</div>
              <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5 col-7 text-truncate">Account / Transaction ID</div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 pr-sm-0 pr-4 text-right">Amount</div>
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 d-none d-sm-block col-6 pr-4 text-right">Time</div>
            </div>

            <div class="row qlc-table-row qlc-table-row-twolines closed" *ngFor="let history of accountHistory">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-4 pb-0">
                <span class="qlc-icon icon-{{ history.type }}" title="{{ history.type }}"></span>
                <span class="d-none d-sm-none d-md-inline-block">
                  <span class="text-color-lightgrey">State</span><br>
                  <span class="text-bold-grey">{{ history.type }}</span>
                </span>
              </div>
              <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5 col-7 pb-0 text-truncate">
                <span class="text-color-lightgrey">{{history.type == 'Send' ? 'to' : 'from'}}: </span> 
                <a [routerLink]="'/account/' + (history.link_as_account || history.address)">{{ history.link_as_account || history.address }}</a>
                <a [routerLink]="'/transaction/' + history.hash"><br>
                  <span class="text-tiny">{{ history.hash }}</span>
                </a>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 pb-0 pr-sm-0 pr-4 text-right {{
                history.type == 'Send' ? 'text-color-red' : 'text-color-green'
              }}">
                <span data-toggle="tooltip" data-placement="top" title="+9.00 $">{{history.type == 'Send' ? '-' : '+'}} {{ history.amount | qlc | currency:'':'':'1.2-8' }}</span>
                <br><span class="text-color-grey">{{ history.tokenName }}</span>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-12 pr-4 text-right">
                {{ history.timestamp * 1000 | date: 'short' }}
              </div>
              <div class="container transaction-details">

              </div>
            </div>


            
          </div>

        </div>
      </div>

      <!-- BUTTON -->
      <div class="col-lg-12 mb-0 mt-2 pl-md-2 pr-md-2 text-center" *ngIf="accountBlocksCount>pageSize">
        <a [routerLink]="'/transactions/1/' + accountId" class="btn btn-primary btn-blue">ALL TRANSACTIONS</a>
      </div>

    </div>
    
  </div>
</div>





<ng-template #qrCode>
  <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
        <div class="qrcode"><img *ngIf="qrCodeImage" [src]="qrCodeImage" /></div>
    
  </div>
</ng-template>




















<!--
    
    
    
    
    
    
    
    
    
    
    <div class="container mt-0 pt-0 mt-0 mb-2 qlc-content-first">
        <div class="row pt-0 mt-0">
            
            <div class="col-lg-6 pl-0 pr-0 pt-0">
                
                <div class="container mt-0 mb-4">
                    <div class="row">
                        
                        <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
                            <div class="content-title">
                                <h1>Send messages</h1>
                            </div>
                        </div>
                        
                        <div class="col-lg-12 mt-2 mb-4 pl-md-2 pr-md-2">
                            <div class="content-box-white">
                                <form>
                                    <div class="container">
                                        
                                        <div class="row qlc-table-header-white pb-4">
                                            <div class="col-12 pl-3 pb-0 pr-3">Message content</div>
                                            <div class="col-12 pl-3 pt-2 pr-3"><textarea class="form-control h-120"></textarea></div>
                                            <div class="col-12 pl-3 pb-0 pt-4 pr-3">Phone numbers (separate by commas)</div>
                                            <div class="col-12 pl-3 pt-2 pr-3"><textarea class="form-control h-120"></textarea></div>
                                            <div class="col-12 pl-3 pb-0 pt-4 pr-3">Campaign tag/key</div>
                                            <div class="col-12 pl-3 pt-2 pr-3 pb-4"><input type="text" class="form-control" /></div>
                                        </div>
                                        <div class="row qlc-table-header pl-2">
                                            <div class="col-6 pb-4 pr-3 pl-4">
                                                Number of messages<br>
                                                <div class="row-text-mid text-blue pt-2 pb-0 pl-0 text-lowercase"><span class="num-msg">0</span> messages</div>
                                            </div>
                                            <div class="col-6 pb-4 pr-3 pl-4">
                                                Estimated price<br>
                                                <div class="row-text-mid text-blue pt-2 pb-0 pl-0"><span class="num-price">0.00</span> QLCX</div>
                                            </div>
                                            
                                        </div>
                                        <div class="row qlc-table-row-white">
                                            <div class="col-12 pl-4 pb-2 pr-3 pt-4 text-center">
                                                <a href="index_01_list_transactions.html" class="btn btn-primary btn-blue mt-1">SEND MESSAGES</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            <div class="col-lg-6 pl-0 pr-0 pt-0">
                
                <div class="container mt-0 mb-4">
                    <div class="row">
                        
                        <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
                            <div class="content-title">
                                <h1>Account details</h1>
                            </div>
                        </div>
                        
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
                            <div class="content-box-white">
                                <div class="container">
                                    <div class="row qlc-table-header-white">
                                        <div class="col-12">Account balance</div>
                                    </div>
                                    <div class="row qlc-table-row-white row-text-mid mt-3 mb-0 pb-0">
                                        <div class="col-12 pb-1">{{ accountMeta.coinBalance | qlc }} QLC</div>
                                    </div>
                                    <div class="row qlc-table-row-white sub-page pt-0">
                                        <div class="col-12 text-wrap pt-1"><span class="text-blue">= 8,210.25 $</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
                            <div class="content-box-white">
                                <div class="container">
                                    <div class="row qlc-table-header-white">
                                        <div class="col-12">Total costs</div>
                                    </div>
                                    <div class="row qlc-table-row-white row-text-mid mt-3 mb-0 pb-0">
                                        <div class="col-12 pb-1">1,205 QLCX</div>
                                    </div>
                                    <div class="row qlc-table-row-white sub-page pt-0">
                                        <div class="col-12 text-wrap pt-1"><span class="text-blue">= 488.50 $</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
                            <div class="content-box-blue">
                                <div class="container">
                                    <div class="row qlc-table-header-blue">
                                        <div class="col-12">Number of campaigns</div>
                                    </div>
                                    <div class="row qlc-table-row-blue row-text-mid mt-3 mb-2">
                                        <div class="col-12">47</div>
                                    </div>
                                    <div class="row qlc-table-header-darkblue">
                                        <div class="col-12"><a href="index_01_list_transactions.html"><span class="qlc-icon icon-arrow-right-bluelight"></span>All campaigns</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
                            <div class="content-box-blue">
                                <div class="container">
                                    <div class="row qlc-table-header-blue">
                                        <div class="col-12">Total messages sent</div>
                                    </div>
                                    <div class="row qlc-table-row-blue row-text-mid mt-3 mb-2">
                                        <div class="col-12">2,410</div>
                                    </div>
                                    <div class="row qlc-table-header-darkblue">
                                        <div class="col-12"><a href="index_01_list_transactions.html"><span class="qlc-icon icon-arrow-right-bluelight"></span>All messages</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2 mt-4">
                            <div class="content-title">
                                <h1>Pending messages</h1>
                            </div>
                        </div>
                        
                        <div class="col-lg-12 mt-2 mb-4 pl-md-2 pr-md-2">
                            <div class="content-box-white">
                                
                                <div class="container">
                                    
                                    <div class="row qlc-table-header">
                                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-4 text-truncate">Transaction ID</div>
                                        <div class="col-xl-3 col-lg-3 col-md-2 col-sm-4 d-none d-sm-block">Phone number</div>
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-8 pr-4 text-right">Time</div>
                                    </div>
                                    
                                    <div class="row qlc-table-row closed" *ngFor="let pending of pendingBlocks">
                                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-4 text-truncate"><a [routerLink]="'/transaction/' + pending.hash">{{ pending.hash }}</a></div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">N/A</div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-8 pr-4 text-right"><span class="text-color-lightgrey">{{ pending.timestamp | date: 'short' }}</span></div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
                            <div class="content-title">
                                <h1>Settled messages</h1>
                            </div>
                        </div>
                        a
                        <div class="col-lg-12 mt-2 mb-4 pl-md-2 pr-md-2">
                            <div class="content-box-white">
                                
                                <div class="container">
                                    
                                    <div class="row qlc-table-header">
                                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-4 text-truncate">Transaction ID</div>
                                        <div class="col-xl-3 col-lg-3 col-md-2 col-sm-4 d-none d-sm-block">Phone number</div>
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-8 pr-4 text-right">Time</div>
                                    </div>
                                    
                                    <div class="row qlc-table-row closed" *ngFor="let history of accountHistory">
                                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-4 text-truncate"><a  routerLink="/transaction/{{ history.hash }}">{{ history.hash }}</a></div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">N/A</div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-8 pr-4 text-right"><span class="text-color-lightgrey">{{ history.timestamp * 1000 | date: 'short' }}</span></div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
    
    <div class="container mt-4 mb-4">
        <div class="row">
        </div>
    </div>
    
-->