<app-user-submenu></app-user-submenu>

<!-- STAKING DASHBOARD -->
<div class="container mt-4 mb-4 qlc-content-home qlc-after-submenu">
  <div class="row">

    <!-- TITLE -->
    <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
      <div class="content-title mb-4">
        <h1>My Swaps</h1>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-swap-qlc2eth" routerLink="/swap/eth" style="cursor: pointer;">
        <div class="container">
          <div class="row qlc-table-header-eth-grey" style="padding-top:180px;">
            <div class="col-12">01</div>
          </div>
          <div class="row qlc-table-row-purple">
            <div class="col-12 font-dash-menu">QLC ETH Swap</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
        <div class="content-box-blue bg-swap-qlc2bsc" routerLink="/swap/bsc" style="cursor: pointer;">
          <div class="container">
            <div class="row qlc-table-header-bsc-yellow" style="padding-top:180px;">
              <div class="col-12">02</div>
            </div>
            <div class="row qlc-table-row-purple">
              <div class="col-12 font-dash-menu">QLC BSC Swap</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
        <div class="content-box-blue bg-swap-qlc2eth" routerLink="/swap/qgaseth" style="cursor: pointer;">
          <div class="container">
            <div class="row qlc-table-header-eth-grey" style="padding-top:180px;">
              <div class="col-12">03</div>
            </div>
            <div class="row qlc-table-row-purple">
              <div class="col-12 font-dash-menu">QGAS ETH Swap</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
          <div class="content-box-blue bg-swap-qlc2bsc" routerLink="/swap/qgasbsc" style="cursor: pointer;">
            <div class="container">
              <div class="row qlc-table-header-bsc-yellow" style="padding-top:180px;">
                <div class="col-12">04</div>
              </div>
              <div class="row qlc-table-row-purple">
                <div class="col-12 font-dash-menu">QGAS BSC Swap</div>
              </div>
            </div>
          </div>
        </div>
              
  </div>
</div>
