<app-user-submenu></app-user-submenu>

<div class="container mt-0 qlc-content-first pl-0 mb-5 pb-5 qlc-content-home qlc-after-submenu">
    <div class="row">


        <!-- APP SETTINGS -->
        <div class="col-12">

          <!-- TITLE -->
          <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
            <div class="content-title">
              <h1>{{ 'APP_SETTINGS.app_settings_title' | translate }}</h1>
            </div>
          </div>

          <div class="col-12 pr-2 pl-2 pt-2">
            <div class="content-box-white">

                    <div class="col-12 pl-4 pt-4 pb-4 pr-4">
                        <div class="row align-items-center">
                          <div class="col-md-2 text-truncate dataName form-label-custom-2 pb-4">{{ 'APP_SETTINGS.language' | translate }}</div>
                          <div class="col-md-10 text-left text-truncate pt-1">
                            <div class="form-group">
                              <select class="custom-select" [(ngModel)]="selectedLang" >
                                <option *ngFor="let lang of languages" [value]="lang.value">{{ lang.name }}</option>
                              </select>
                            </div></div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-md-2 text-truncate dataName form-label-custom-2 pb-4">{{ 'APP_SETTINGS.fiat_currency' | translate }}</div>
                            <div class="col-md-10 text-left text-truncate pt-1">
                              <div class="form-group">
                                <select class="custom-select" [(ngModel)]="selectedCurrency" id="form-horizontal-select">
                                  <option *ngFor="let currency of currencies" [value]="currency.value">{{ currency.name }}</option>
                                </select>
                              </div></div>
                            </div>
                            <div class="row align-items-center">
                              <div class="col-md-2 text-truncate dataName form-label-custom-2 pb-4">{{ 'APP_SETTINGS.lock_on_exit' | translate }}</div>
                              <div class="col-md-10 text-left text-truncate pt-1">
                                <div class="form-group">
                                  <select class="custom-select" [(ngModel)]="selectedLockOption">
                                    <option *ngFor="let option of lockOptions" [value]="option.value">{{ option.name }}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row align-items-center">
                              <div class="col-md-2 text-truncate dataName form-label-custom-2 pb-4">{{ 'APP_SETTINGS.lock_after_inactivity' | translate }}</div>
                              <div class="col-md-10 text-left text-truncate pt-1">
                                <div class="form-group">
                                  <select class="custom-select" [(ngModel)]="selectedInactivityMinutes">
                                    <option *ngFor="let option of inactivityOptions" [value]="option.value">{{ option.name }}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row align-items-center">
                              <div class="col-md-2 text-truncate dataName form-label-custom-2 pb-4">{{ 'APP_SETTINGS.wallet_storage' | translate }}</div>
                              <div class="col-md-10 text-left text-truncate pt-2">
                                <div class="form-group">
                                  <select class="custom-select" [(ngModel)]="selectedStorage">
                                    <option *ngFor="let storage of storageOptions" [value]="storage.value">{{ storage.name }}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row align-items-center">
                              <div class="col-md-2 text-truncate dataName form-label-custom-2 pb-4">RECEIVE</div>
                              <div class="col-md-10 text-left text-truncate pt-2">
                                <div class="form-group">
                                  <select class="custom-select" [(ngModel)]="selectedReceiveOption">
                                    <option *ngFor="let receive of receiveOptions" [value]="receive.value">{{ receive.name }}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row align-items-center rowAmount">
                              <div class="col-md-2 text-truncate dataName"></div>
                              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 pr-md-0 text-left text-truncate">
                                <button (click)="updateAppSettings()" class="btn btn-primary pl-0 pr-0 w-100">{{ 'APP_SETTINGS.app_settings_button' | translate }}</button>
                              </div>
                            </div>
                          </div>
                  </div>
            </div>

         </div>




        <!-- ADVANCED SETTINGS -->
        <div class="col-12">

          <!-- TITLE -->
          <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
            <div class="content-title pt-4">
              <h1>{{ 'APP_SETTINGS.advanced_settings_title' | translate }}</h1>
            </div>
          </div>

          <div class="col-12 pr-2 pl-2 pt-2">
            <div class="content-box-white">

              <div class="container">
                  <div class="row pl-4 pt-4 pb-4 pr-4">
                    <div class="col-lg-2 px-lg-0 text-truncate dataName  form-label-custom-2 pl-0 pt-2">{{ 'APP_SETTINGS.advanced_settings_text' | translate }}</div>
                  </div>
                  <div class="row pl-3 pt-2 pb-4 pr-3">
                    <!--<div class="col-xl-3 col-lg-3 col-md-12 px-0 pt-2 pt-lg-0 px-lg-2 text-left text-truncate">
                      <button (click)="openModal(newWalletTemp)"  class="btn btn-primary w-100 pl-0 pr-0">Create / Import New QLC Wallet</button>
                    </div>-->
                    <div class="col-xl-4 col-lg-4 col-md-12 px-0 pt-2 pt-lg-0 pr-lg-2 text-left text-truncate">
                      <button (click)="openModal(clearWorkCatche)" class="btn btn-primary btn-danger w-100 pl-0 pr-0">{{ 'APP_SETTINGS.advanced_settings_button1' | translate }}</button>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 px-0 pt-2 pt-lg-0 px-lg-2 text-left text-truncate">
                      <button (click)="openModal(clearWalletData)" type="submit" class="btn btn-primary btn-danger w-100 pl-0 pr-0">{{ 'APP_SETTINGS.advanced_settings_button2' | translate }}</button>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 px-0 pt-2 pt-lg-0 px-lg-2 text-left text-truncate">
                      <button (click)="openModal(clearAllData)"  class="btn btn-primary btn-danger w-100 pl-0 pr-0">{{ 'APP_SETTINGS.advanced_settings_button3' | translate }}</button>
                    </div>
                </div>
              </div>

              </div>
            </div>

        </div>

        <!-- ADVANCED POPUPS -->
        <ng-template #clearWorkCatche>
          <div class="modal-body text-center pt-4" [innerHTML]="'CONFIGURE_APP_WARNINGS.msg24' | translate">
          </div>
          <div class="modal-footer pb-4 pl-4 pr-4">
            <button class="btn btn-primary w-50 pl-0 pr-0" type="button" (click)="modalRef.hide()">{{ 'CANCEL' | translate }}</button>
            <button class="btn btn-primary btn-danger w-50 pl-0 pr-0" type="button" (click)="clearWorkCache()">{{ 'OK' | translate }}</button>
          </div>
        </ng-template>
        
        <ng-template #clearWalletData>
          <div class="modal-body text-center pt-4" [innerHTML]="'CONFIGURE_APP_WARNINGS.msg26' | translate">
          </div>
          <div class="modal-footer pb-4 pl-4 pr-4">
            <button class="btn btn-primary w-100 pl-0 pr-0" type="button" (click)="modalRef.hide()">{{ 'CANCEL' | translate }}</button>
            <button class="btn btn-primary btn-danger w-100 pl-0 pr-0" type="button" (click)="clearAllWalletData()">{{ 'OK' | translate }}</button>
          </div>
        </ng-template>
        
        <ng-template #clearAllData>
          <div class="modal-body text-center pt-4" [innerHTML]="'CONFIGURE_APP_WARNINGS.msg28' | translate">
          </div>
          <div class="modal-footer pb-4 pl-4 pr-4">
            <button class="btn btn-primary w-100 pl-0 pr-0" type="button" (click)="modalRef.hide()">{{ 'CANCEL' | translate }}</button>
            <button class="btn btn-primary btn-danger w-100 pl-0 pr-0" type="button" (click)="clearAll()">{{ 'OK' | translate }}</button>
          </div>
        </ng-template>

        <ng-template #newWalletTemp>
          <div class="modal-body text-center pt-4" [innerHTML]="'Creating or importing a new wallet will delete the current wallet'">
          </div>
          <div class="modal-footer pb-4 pl-4 pr-4">
            <button class="btn btn-primary w-100 pl-0 pr-0" type="button" (click)="modalRef.hide()">{{ 'CANCEL' | translate }}</button>
            <button class="btn btn-primary btn-danger w-100 pl-0 pr-0" type="button" (click)="newWallet()">{{ 'OK' | translate }}</button>
          </div>
        </ng-template>
      



        
        <!-- NO WALLET STUFF -->
        <div class="col-12 mt-2" *ngIf="!(accounts).length">
          
          <!-- TITLE - NO WALLET CONFIGURED -->
          <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
              <div class="content-title pt-4">
                <h1>{{ 'NO_WALLET_CONFIGURED' | translate }}</h1>
              </div>
            </div>
  
            <div class="col-12 pr-2 pl-2 pt-2 pb-4">
              <div class="content-box-white">
                    
                  <div class="container">
                      <div class="row pl-4 pt-4 pb-2 pr-4 text-center">
                          <h6 class="w-100 text-center"><a routerLink='/createwallet'>{{ 'NO_WALLET_CONFIGURED_CLICK' | translate }}</a></h6>
                      </div>
                  </div>

              </div>
            </div>
        </div>




        <!-- WALLET STUFF -->
        <div class="col-12 col-md-6" *ngIf="(accounts).length">

          <!-- TITLE - REP MANAGMENT -->
          <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
            <div class="content-title pt-4" >
              <h1>Representatives</h1>
            </div>
          </div>

          <div class="col-12 pr-2 pl-2 pt-2">
            <div class="content-box-white">

              <div class="container">
                  <div class="row pl-4 pt-4 pb-4 pr-4">
                        
                      <div class="col-12 px-0" >
                          <div class="col-12">
                            <div class="row defaultTable content pt-0">
                              <div class="col-12">
                                <div class="row align-items-center rowButtons">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-0 text-left text-truncate pt-0">
                                    <button type="submit" class="btn btn-primary" routerLink="/representation/manage">Manage reps</button>
                                  </div>
                                </div>
                              </div>
                
                            </div>
                          </div>
                        </div>

                </div>
              </div>

              </div>
            </div>

            
          <!-- TITLE - WALLET PASSWORD -->
          <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
            <div class="content-title pt-4" >
              <h1>{{ 'MANAGE_WALLET.change_wallet_password' | translate }}</h1>
            </div>
          </div>

          <div class="col-12 pr-2 pl-2 pt-2">
            <div class="content-box-white">

              <div class="container">
                  <div class="row pl-4 pt-4 pb-4 pr-4">
                        
                      <div class="col-12 px-0" >
                          <div class="col-12 px-0">
                            <h1></h1>
                          </div>	
                          <div class="col-12">
                            <div class="row defaultTable content">
                              <div class="col-12">
                                <div class="row align-items-center rowContent">
                                  <div class="col-12 px-0">
                                    <div class="input-group pb-2">
                                      <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="{{ 'MANAGE_WALLET.password' | translate }}">
                                    </div>
                                  </div>
                
                                </div>
                                <div class="row align-items-center rowContent">
                                  <div class="col-12 px-0">
                                    <div class="input-group pb-3">
                                      <input type="password" class="form-control" [(ngModel)]="confirmPassword" placeholder="{{ 'MANAGE_WALLET.password_confirm' | translate }}">
                                    </div>
                                  </div>
                                </div>
                                <div class="row align-items-center rowButtons">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-0 text-left text-truncate">
                                    <button type="submit" (click)="changePassword()" class="btn btn-primary" [disabled]="updatePasswordButtonDisabled">{{ updatePasswordButton }}</button>
                                  </div>
                                </div>
                              </div>
                
                            </div>
                          </div>
                        </div>

                </div>
              </div>

              </div>
            </div>




                <!-- TITLE EXPORT WALLET -->
                <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
                    <div class="content-title pt-4" >
                      <h1>{{ 'MANAGE_WALLET.export_wallet' | translate }}</h1>
                    </div>
                  </div>
        
                  <div class="col-12 pr-2 pl-2 pt-2">
                    <div class="content-box-white">
        
                      <div class="container">
                          <div class="row pl-4 pt-4 pb-4 pr-4">
                                
                              <div class="col-12 px-0">
                                <div class="col-12 px-0 d-block">
                                  <div class="seperator"></div>
                                </div>
                                <div class="col-12 px-0">
                                  <h1></h1>
                                </div>	
                                <div class="col-12">
                                  <div class="row defaultTable content">
                                    <div class="col-12">
                                      <div class="row align-items-center rowContent autoH">
                                        <div class="col-12 px-0" [innerHTML]="'MANAGE_WALLET.export_wallet_text' | translate">
                                        </div>
                                      </div>
                                      <div *ngIf="showQRExport" >
                                          <div class="row align-items-center rowDefault">
                                              <div class="col-12 px-0 py">
                                                <div class="qrcode"><img [src]="QRExportImg"></div>
                                              </div>
                                            </div>
                                            <div class="row align-items-center rowContent autoH">
                                              <div class="col-12 px-0" [innerHTML]="'MANAGE_WALLET.export_wallet_text2' | translate">
                                              </div>
                                            </div>
                                            <div class="row align-items-center rowContent">
                                              <div class="col-12 px-0">
                                                <div class="input-group">
                                                  <input type="text" class="form-control" id="" value="{{ QRExportUrl }}">
                                                  
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row align-items-center rowContent">
                                              <div class="col-12 px-0">
                                                <a ngxClipboard [cbContent]="QRExportUrl" (cbOnSuccess)="notifications.sendSuccess('Wallet export copied to clipboard!')" class="icon-text-link"><span class="icon copy"></span> {{ 'COPY_TO_CLIPBOARD' | translate }}</a>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="row align-items-center rowButtons pt-4">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-0 pr-sm-2 text-left text-truncate pb-2">
                                          <button type="submit" (click)="exportToFile()" class="btn btn-primary pl-0 pr-0 w-100">{{ 'MANAGE_WALLET.export_as_file' | translate }}</button>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-0 pl-sm-2 text-left text-truncate pb-2">
                                          <button type="submit" (click)="exportWallet()" class="btn btn-primary pl-0 pr-0 w-100">{{ 'MANAGE_WALLET.export_qr_code' | translate }}</button>
                                        </div>
                                      </div>
                                    </div>
                      
                                  </div>
                                </div>
                              </div>
        
                        </div>
                      </div>
        
                      </div>
                    </div>




        </div>





        <!-- WALLET STUFF 2/2 -->
        <div class="col-12 col-md-6 mb-5" *ngIf="(accounts).length">


          <!-- TITLE BACKUP WALLET -->
          <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
            <div class="content-title pt-4" >
              <h1>New QLC Account</h1>
            </div>
          </div>

          <div class="col-12 pr-2 pl-2 pt-2">
            <div class="content-box-white">

              <div class="container">
                  <div class="row pl-4 pt-4 pb-4 pr-4">
                        
                        
                      <div class="col-12 px-0" >
                        <div class="col-12">
                          <div class="row defaultTable content">
                            <div class="col-12">

                              <div class="row align-items-center rowContent autoHP" *ngIf="!wallet.locked">
                                <div class="col-12 px-0 py-2 pb-3">
                                  <strong>Please backup your current accounts mnemonic phrase or seed.</strong><br>
                                  After you create/import a new account, your current one will be deleted from your browsers storage.
                                </div>
                              </div>
                              
                              <div class="row align-items-center rowContent autoHP" *ngIf="!wallet.locked">
                                <div class="col-12 px-0 pb-2">
                                  <button (click)="openModal(newWalletTemp)"  class="btn btn-primary btn-danger pl-5 pr-5">Create / Import New QLC Wallet</button>
                                </div>
              
                              </div>

                              <div class="row align-items-center rowContent autoHP" *ngIf="wallet.locked">
                                <div class="col-12 px-0 py-2">
                                  To create or import a new QLC Account,<br>you must first <strong>unlock</strong> your current account.
                                </div>
                              </div>

                            </div>
              
                          </div>
                        </div>
                      </div>
                      

                </div>
              </div>

              </div>
            </div>



            <!-- TITLE BACKUP WALLET -->
            <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
                <div class="content-title pt-4" >
                  <h1>{{ 'MANAGE_WALLET.backup_wallet' | translate }}</h1>
                </div>
              </div>

              <div class="col-12 pr-2 pl-2 pt-2">
                <div class="content-box-white">

                  <div class="container">
                      <div class="row pl-4 pt-4 pb-4 pr-4">
                            
                            
                          <div class="col-12 px-0" >
                            <div class="col-12">
                              <div class="row defaultTable content">
                                <div class="col-12">
                                  <div class="row align-items-center rowContent autoHP"  *ngIf="wallet.locked">
                                    <div class="col-12 px-0 pb-2">
                                        {{ 'MANAGE_WALLET.backup_wallet_text1' | translate }}
                                    </div>
                                  </div>
                                  <div class="row align-items-center rowContent autoHP" *ngIf="!wallet.locked">
                                    <div class="col-12 px-0 pb-2">
                                        {{ 'MANAGE_WALLET.backup_wallet_text2' | translate }}<br>
                                      <a ngxClipboard [cbContent]="seedMnemonic()" (cbOnSuccess)="notifications.sendSuccess('Wallet mnemonic copied to clipboard!')" style="font-weight: bold; text-decoration: underline;">{{ 'MANAGE_WALLET.click_here' | translate }}</a> {{ 'MANAGE_WALLET.backup_wallet_text3' | translate }}
                  
                  
                                    </div>
                  
                                  </div>
                                  <div class="row align-items-center rowContent autoHP" *ngIf="!wallet.locked">
                                    <div class="col-12 px-0 py-2">
                                        {{ 'MANAGE_WALLET.backup_wallet_text4' | translate }}<br>
                                      <a ngxClipboard [cbContent]="wallet.seed" (cbOnSuccess)="notifications.sendSuccess('Wallet seed copied to clipboard!')" style="font-weight: bold; text-decoration: underline;">{{ 'MANAGE_WALLET.click_here' | translate }}</a> {{ 'MANAGE_WALLET.backup_wallet_text3' | translate }}
                                    </div>
                                  </div>
                                </div>
                  
                              </div>
                            </div>
                          </div>
                          

                    </div>
                  </div>

                  </div>
                </div>





          <!-- TITLE IMPORT ADDRESS BOOK -->
          <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
            <div class="content-title pt-4" >
              <h1>{{ 'MANAGE_WALLET.import_address_book' | translate }}</h1>
            </div>
          </div>

          <div class="col-12 pr-2 pl-2 pt-2">
            <div class="content-box-white">

              <div class="container">
                  <div class="row pl-4 pt-4 pb-4 pr-4">
                        
                        <div class="col-12">
                          <div class="row defaultTable content nomin">
                            <div class="col-12">
                              <div class="row align-items-center rowContent autoH">
                                <div class="col-12 px-0">
                                    {{ 'MANAGE_WALLET.import_address_book_text' | translate }}
                                </div>
              
                              </div>
                              <div class="row align-items-center rowButtons">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-0 pr-sm-2 text-left text-truncate pt-3">
                                  <button type="submit" class="btn btn-primary w-100 pl-0 pr-0">{{ 'MANAGE_WALLET.upload_file' | translate }}</button>
                                  <input type="file" id="import-from-file" (change)="importFromFile($event.target.files)" multiple>
                                  
                                </div>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      

                </div>
              </div>

              </div>
            </div>



            <!-- TITLE EXPORT ADDRESS BOOK -->
            <div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
              <div class="content-title pt-4" >
                <h1>{{ 'MANAGE_WALLET.export_address_book' | translate }}</h1>
              </div>
            </div>

            <div class="col-12 pr-2 pl-2 pt-2">
              <div class="content-box-white">

                <div class="container">
                    <div class="row pl-4 pt-4 pb-4 pr-4">
                          
                          
                        <div class="col-12 px-0">

                          <div class="col-12">
                            <div class="row defaultTable content">
                              <div class="col-12">
                                <div class="row align-items-center rowContent autoH">
                                  <div class="col-12 px-0" [innerHTML]="'MANAGE_WALLET.export_address_book_text1' | translate">
                                  </div>
                
                
                                </div>
                                <div *ngIf="addressBookShowQRExport">
                                <div class="row align-items-center rowDefault">
                                  
                                  <div class="col-12 px-0 py">
                
                                    <div class="qrcode"><img [src]="addressBookQRExportImg"></div>
                                  </div>
                
                
                                </div>
                
                                <div class="row align-items-center rowContent autoH">
                                  
                                  <div class="col-12 px-0" [innerHTML]="'MANAGE_WALLET.export_address_book_text2' | translate">
                                    </div>
                
                
                                </div>
                                <div class="row align-items-center rowContent">
                                  <div class="col-12 px-0">
                                    <div class="input-group">
                                      <input type="text" class="form-control"  value="{{ addressBookQRExportUrl }}">
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="row align-items-center rowContent">
                                  <div class="col-12 px-0">
                                    <a ngxClipboard [cbContent]="addressBookQRExportUrl" (cbOnSuccess)="notifications.sendSuccess('Address book export copied to clipboard!')" class="icon-text-link"><span class="icon copy"></span> {{ 'COPY_TO_CLIPBOARD' | translate }}</a>
                                  </div>
                                </div>
                              </div>
                                
                
                
                
                                <div class="row align-items-center rowButtons pt-3">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-0 pr-sm-2 text-left text-truncate pb-2">
                                    <button type="submit" (click)="exportAddressBookToFile()" class="btn btn-primary pl-0 pr-0 w-100">{{ 'MANAGE_WALLET.export_as_file' | translate }}</button>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-0 pl-sm-2 text-left text-truncate pb-2">
                                    <button type="submit" (click)="exportAddressBook()" class="btn btn-primary pl-0 pr-0 w-100">{{ 'MANAGE_WALLET.export_qr_code' | translate }}</button>
                                  </div>
                                </div>
                              </div>
                
                            </div>
                          </div>
                        </div>
                        

                  </div>
                </div>

                </div>
              </div>

            
  
        </div>




        

  </div>
</div>





