<!-- CREATE WALLET - STEP #1 -->
<div class="container mt-0 pt-0 mt-0 mb-2 qlc-content-first">
  <div class="row pt-0 mt-0">

    <!-- SIGN IN -->
    <div class="col-lg-12 pl-0 pr-0 pt-0">
              
              <!-- SUMMARY -->
              <div class="container mt-0 mb-4">
                  <div class="row">

                      <!-- TITLE -->
                      <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
                          <div class="content-title">
                              <h1>Create new wallet</h1>
                          </div>
                      </div>

                      <div class="col-lg-12 mt-2 mb-4 pl-md-2 pr-md-2">
                          <div class="content-box-white">
                              <form>
                                  <div class="container">
          
                                      <div class="row qlc-table-header-white pb-4 pt-5">
                                          <div class="col-lg-6 offset-lg-3 content-title"><h2 class="title-grey">Read carefully before prodeeding!</h2></div>
                                          <div class="col-lg-6 offset-lg-3 mt-4 text-paragraph-default">

                                              <p class="text-justify">When you create a new wallet, a new QLC Chain Wallet seed will be generated which can be used to create brand new accounts on the QLC Chain network. Your QLC Wallet seed is the master key to all of your accounts and any money inside of them!</p>
                                              <p class="text-justify"><strong>Make sure you back up your seed, write it down, and keep it incredibly safe! <span class="text-color-red align-justify">There is NO way to recover it after creation, and all funds inside WILL be lost without it!</span></strong></p>
                                              

                                          </div>

                                          <div class="col-lg-6 offset-lg-3 mt-4">

                                            <div class="custom-control custom-check custom-control-inline">
                                                <input type="checkbox" id="confirmUnderstand" name="confirmUnderstand" class="custom-control-input">
                                                <label class="custom-control-label" for="confirmUnderstand">I have read and understand everything</label>
                                            </div>

                                        </div>

                                      </div>
                                      
                                      <div class="row qlc-table-row-white">
                                          <div class="col-12 pl-4 pb-3 pr-3 pt-2 text-center">
                                              <a href="/myaccount" class="btn btn-primary btn-blue mt-1">CREATE WALLET NOW</a>
                                          </div>
                                      </div>

                                  </div>
                              </form>
                          </div>
                      </div>

                  </div>
              </div>

          </div>


<div class="container mt-4 mb-4">
  <div class="row">
  </div>
</div>