.tableQLC {
    background-color: #2069c269;
    padding: 10px;
    margin: 10px;
    width: 96%;
}
.btn-primary {
    font-size: 12px;
    padding: initial;
}
#import-from-file {
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
}