<div id="particles-js"></div>

<!--
  <div class="acc-button acc-unlock"  (click)="openModal(unlockWallet)" *ngIf="walletService.isConfigured() && !walletService.isLedgerWallet() && walletService.isLocked()"></div>
  <div class="acc-button acc-lock" (click)="lockWallet()" *ngIf="walletService.isConfigured() && !walletService.isLedgerWallet() && !walletService.isLocked()"></div>
  <div class="acc-button acc-configure" routerLink="/createwallet" *ngIf="!walletService.isConfigured()"></div>
-->

<!-- HEADER -->
<div class="qlc-top qlc-top-home">
  <div class="container">
    <div class="row">
      <div class="col-12 pl-md-2 pr-md-2">
        <div class="qlc-menu">

          <!-- MENU -->
          <a routerLink="/" routerLinkActive="active" class="brand"></a>
          <div class="menu-holder">
            <div class="menu-item menu-lang" data-link="menu-sub-language"></div>
            <div class="menu-item menu-account" data-link="menu-sub-account"></div>
            <div class="menu-item menu-currency usd" data-link="menu-sub-currency"></div>
            <div class="menu-item menu-search" data-link="menu-sub-search"></div>
            <div class="menu-search-field" data-link="menu-sub-search">Search for: Address, Transaction, Phone Number</div>
            <div class="menu-item menu-main" data-link="menu-sub-main"><span>{{ 'NAV.menu' | translate }}</span></div>

          </div>

          <!-- SUB MAIN -->
          <div class="menu-sub-holder menu-sub-main">
            <div class="menu-item menu-close"></div>
            <div class="menu-sub-items">
              <!-- <a routerLink="/topwallets" routerLinkActive="active">Top Wallets</a>-->
              <a routerLink="/tokens" routerLinkActive="active">Tokens</a>
              <a routerLink="/representatives" routerLinkActive="active">{{ 'NAV.representatives' | translate }}</a>
              <a routerLink="/accounts" routerLinkActive="active">{{ 'NAV.accounts' | translate }}</a>
              <a routerLink="/transactions" routerLinkActive="active">{{ 'NAV.transactions' | translate }}</a>
              <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'NAV.home' | translate }}</a>
            </div>
            <div class="sub-left">Menu</div>
          </div>

          <!-- SUB SEARCH -->
          <div class="menu-sub-holder menu-sub-search">
            <div class="menu-sub-search-form">
              
                <input type="text" name="search" class="search-text" (keyup.enter)="search()" [(ngModel)]="search_text">
                <input type="button" class="search-button" (click)="search()">
              
            </div>
            <div class="sub-left sub-left-search">Search</div>
          </div>

          <!-- SUB CURRENCY -->
          <div class="menu-sub-holder menu-sub-currency">
            <div class="menu-item menu-close"></div>
            <div class="menu-sub-items menu-sub-items-currency">
              <a (click)="openModal(dev)">USD<span class="mobile-menu-only"> American Dollar</span></a>
              <a (click)="openModal(dev)">CNY<span class="mobile-menu-only"> Chinese Yuan</span></a>
              <a (click)="openModal(dev)">EUR<span class="mobile-menu-only"> Euro</span></a>
              <a (click)="openModal(dev)">GBP<span class="mobile-menu-only"> British Pound</span></a>
              <a (click)="openModal(dev)">QLC<span class="mobile-menu-only"> QLC Chain Token</span></a>
              <a (click)="openModal(dev)">NEO<span class="mobile-menu-only"> NEO Token</span></a>
              <a (click)="openModal(dev)">ETH<span class="mobile-menu-only"> Ethereum</span></a>
              <a (click)="openModal(dev)">BTC<span class="mobile-menu-only"> Bitcoin</span></a>
            </div>
            <div class="sub-left sub-left-currency usd">Choose your currency</div>
          </div>

          <!-- SUB ACCOUNT -->
          <div class="menu-sub-holder menu-sub-account">
            <div class="menu-item menu-close"></div>
            <div class="menu-sub-items menu-sub-items-account">
              <a (click)="openModal(unlockWallet)" *ngIf="walletService.isConfigured() && !walletService.isLedgerWallet() && walletService.isLocked()">Unlock Account</a>
              <a (click)="lockWallet()" *ngIf="walletService.isConfigured() && !walletService.isLedgerWallet() && !walletService.isLocked()">Lock Account</a>
              <a routerLink="/myaccounts" routerLinkActive="active" *ngIf="walletService.isConfigured()">My Wallets</a>
              <a routerLink="/send" routerLinkActive="active" *ngIf="walletService.isConfigured()">Send</a>
              <a routerLink="/settings" routerLinkActive="active" *ngIf="walletService.isConfigured()">Settings</a>
              <a routerLink="/myrepresentatives" routerLinkActive="active" *ngIf="walletService.isConfigured()">My representatives</a>
              <a routerLink="/createwallet" routerLinkActive="active">Create/Import Account</a>
            </div>
            <div class="sub-left sub-left-account">Account</div>
          </div>
          
          
          <!-- SUB LANGUAGE -->
          <div class="menu-sub-holder menu-sub-language">
            <div class="menu-item menu-close"></div>
            <div class="menu-sub-items menu-sub-items-language">
              <a (click)="openModal(dev)"><img src="assets/img/flags/de.png"><span class="mobile-menu-only"> Deutsch</span></a>
              <a (click)="openModal(dev)"><img src="assets/img/flags/ru.png"><span class="mobile-menu-only"> Pу̏скӣ</span></a>
              <a (click)="openModal(dev)"><img src="assets/img/flags/kr.png"><span class="mobile-menu-only"> 한국어</span></a>
              <a (click)="openModal(dev)"><img src="assets/img/flags/cn.png"><span class="mobile-menu-only"> 简体中文</span></a>
              <a (click)="openModal(dev)"><img src="assets/img/flags/en.png"><span class="mobile-menu-only"> English</span></a>
            </div>
            <div class="sub-left sub-left-language">Choose your language</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #dev>
  <div class="modal-body">

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row text-center">
      <div class="col-12">
        <h1 class="pt-5">Under development</h1>
        <p class="pb-5">This feature will be available soon.</p>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #unlockWallet>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row text-center">
        <div class="col-10 offset-1">
            <div class="form-group text-center">
              <h1 class="pt-5">Unlock Account</h1>
              <div class="input-group pt-3 pb-3">
                <input class="form-control pass-field text-center" type="password" [(ngModel)]="unlockPassword" (keyup.enter)="unlockWalletConfirm()" placeholder="Enter your password" appAutofocus>
              </div>
              <button class="btn btn-primary mb-5 w-100 pl-0 pr-0" type="button" (click)="unlockWalletConfirm()">UNLOCK</button>
            </div>
      </div>
    </div>
    
  </div>
</ng-template>