@import '../../../scss/mixins';
.btn {
    padding: initial;
}

.swap-type {
	background: #ffffff url('../../../assets/img/qlc-icon-arrow-transaction-right-grey.svg') no-repeat center center;
	background-size: 24px 96px;
	border-top: 0;
	cursor: pointer;
}

.selected {
	background-color: #2069c2;
	color: #ffffff;
}

.unselected {
	opacity: 0.30;
}

.custom-select {
	display: inline-block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 2.4rem 0.375rem 0.75rem;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	//background: #fff url('../assets/img/qlc-icon-dropdown.svg') no-repeat right 0.75rem center;
	background-size: 16px 16px;
	border: 1px solid #495057;
	border-radius: 0;
	appearance: none;
}
.custom-select:focus {
	border-color: #495057;
	outline: 0;
	box-shadow: 0 0 0 2px rgba(108, 69, 190, 0.2);
}

.custom-select.contacts {
	//background: #fff url('../assets/img/qlc-icon-addressbook-grey.svg') no-repeat right 0.75rem center;
	background-size: 16px 16px;
}


.sendTokens {
	padding-top: 40px;
	padding-bottom: 40px;
	.second {
		margin-top: 15px;
	}
	.balance {
		font-weight: bold;
		padding-left: 30px;
	}
	.fiat {
		font-weight: bold;
		color: $textLight;
	}
	.toaccount {
        position: absolute;
        top: 15px;
        width: 90%;
        height: 31px;
        left: 1px;
        border-right: none;
        border: transparent;
	}
	.success {
		border: 1px solid $greenLight;
	}
	.toaccount.success {
		border-right: none;
	}
	.dangerLeft {
		border-bottom: 1px solid $redLight;
		border-top: 1px solid $redLight;
		border-left: 1px solid $redLight;
	}
	.dangerRight {
		border-bottom: 1px solid $redLight;
		border-top: 1px solid $redLight;
		border-right: 1px solid $redLight;
	}

	button.btn-outline-secondary {
		margin-top: auto;
		background-color: transparent;
		border: 1px solid $textLight;
		border-left: none;
		color: $default;
		border-radius: 0;
		text-shadow: none;
	}
	button.btn-outline-secondary:hover {
		text-decoration: underline;
	}
	button.btn-outline-secondary:focus,
	.btn-outline-secondary:not(:disabled):not(.disabled):active,
	.btn-outline-secondary:not(:disabled):not(.disabled).active,
	.show > .btn-outline-secondary.dropdown-toggle,
	.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
	.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
	.show > .btn-outline-secondary.dropdown-toggle:focus {
		box-shadow: none;
		outline: 0;
		background-color: transparent;
		color: $default;
		border-color: $textLight;
	}
	button.btn-outline-secondary:active {
		text-decoration: underline;
	}
	.inlineForm,
	.inlineForm2 {
		border: 0;
		border-top: 1px solid $textLight;
		border-bottom: 1px solid $textLight;
		//background: #fff url('../../../assets/img/separator_input.png') no-repeat left 0 center;
		background-size: 1px 34px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.inlineForm2 {
		border-radius: 0;
		border-right: 1px solid $textLight;
	}
	.input-group-text {
		font-weight: bold;
		border-radius: 0;
		border: 1px solid $textLight;
		/*border-right: none;*/
		background: transparent;
		width: 65px;
		font-size: 13px;
	}
	.input-group-prepend {
		border-right: 1px solid #c9c7d0 !important;
	}
	.input-group-text.maxLink {
		border: 1px solid $textLight;
		border-left: none;
		color: $default;
		width: auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.maxLink:hover {
		text-decoration: underline;
	}
	.rowAmount {
		
		font-size: 13px;
		height: 58px;
		padding-left: 20px;
		padding-right: 20px;
		color: $text;
		padding-top: 10px;
		height: auto;
	}
}

.confirm-title {
	font-weight: bolder;
	display: block;
	font-size: 24px;
}

.confirm-currency {
	font-weight: bolder;
	display: block;
	font-size: 20px;
}

.confirm-subtitle {
	display: block;
	font-size: 10px;
}
.form-control.form-my-border {
	border: 1px solid #a8a6ae !important;
}
.ng-invalid.ng-touched {
	border: 1px solid #ff0000 !important;
}
@media (max-width: 12450px) {
	.br-spacer {
		display: block;
	}
}
@media (max-width: 959px) {
	.br-spacer {
		display: none;
	}
}
.confirmTransaction {
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	color: $text;
	.text-label {
		text-transform: uppercase;
		color: $textLight;
		font-size: 12px;
	}
	.sum {
		color: $default;
		font-size: $fontSizeTitle;
		background: #edeef4;
		height: 1px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.sum span {
		background: #fff;
		padding: 10px;
		position: relative;
		top: -15px;
	}
	.name {
		font-size: $fontSizeTitle;
	}
	.address {
		
		word-break: break-all;
		word-wrap: break-word;
		color: $text;
	}
	.address:hover {
		color: $superLight;
	}
	.transfer {
		background: #ffffff url('../../../assets/img/qlc-icon-arrow-transaction-right-grey.svg') no-repeat center center;
		background-size: 24px 24px;
		border-top: 0;
		@media (max-width: 992px) {
			background: #ffffff url('../../../assets/img/qlc-icon-arrow-transaction-down-grey.svg') no-repeat center center;
			background-size: 24px 24px;
		}
	}
	.fiatrate {
		color: $textLight;
	}
}

.ng-invalid.ng-invalid-ignore, .ng-invalid.ng-touched.ng-invalid-ignore, .ng-invalid-ignore, .ng-touched.ng-invalid-ignore, .ng-dirty.ng-invalid-ignore {
    border: none !important;
}

.text-blue {
	font-weight: 500;
	color: #2069c2;
}

.gas-selected {
	border: 1px #2069c2 solid;
	color: #2069c2;
	cursor: pointer;
}

.gas-not-selected {
	border: 1px #CDCCCC solid;
	color: #CDCCCC;
	cursor: pointer;
}