<!-- HOME -->
<div class="container mt-4 mb-4 qlc-content-home">
  <div class="row">

    <!-- TITLE -->
    <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
      <div class="content-title">
        <h1>SMS Billing</h1>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-blue-voting">
        <div class="container">
          <div class="row qlc-table-header-blue">
            <div class="col-12">VOTE RATIO</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12">{{ votingPowerPercent | currency:'':'':'1.2-2' }} %</div>
          </div>
          <div class="row qlc-table-header-darkblue">
            <div class="col-12"><a routerLink="/representatives"><span class="qlc-icon icon-arrow-right-bluelight"></span>Details</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
      <div class="content-box-blue bg-blue-messages">
        <div class="container">
          <div class="row qlc-table-header-blue">
            <div class="col-12">Settled messages</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12">{{ transactionsCount.count | currency:'':'':'1.0-0' }}</div>
          </div>
          <div class="row qlc-table-header-darkblue">
            <div class="col-12"><a routerLink="/transactions"><span class="qlc-icon icon-arrow-right-bluelight"></span>All messages</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-blue-accounts">
        <div class="container">
          <div class="row qlc-table-header-blue">
            <div class="col-12">Wallets created</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12">{{ accountsCreated | currency:'':'':'1.0-0' }}</div>
          </div>
          <div class="row qlc-table-header-darkblue">
            <div class="col-12"><a routerLink="/accounts"><span class="qlc-icon icon-arrow-right-bluelight"></span>All wallets</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
      <div class="content-box-blue bg-blue-tokens">
        <div class="container">
          <div class="row qlc-table-header-blue">
            <div class="col-12">Tokens issued</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12">{{ tokensCount | currency:'':'':'1.0-0'}}</div>
          </div>
          <div class="row qlc-table-header-darkblue">
            <div class="col-12"><a routerLink="/tokens"><span class="qlc-icon icon-arrow-right-bluelight"></span>All tokens</a></div>
          </div>
        </div>
      </div>
    </div>
        
  </div>
</div>

<!-- LATEST TRANSACTIONS -->
<div class="container mt-0 mb-3">
  <div class="row">
    
    <div class="col-12 pl-0 pr-0">
      
      <!-- TITLE -->
      <div class="col-lg-12 mb-3 mt-2 pl-md-2 pr-md-2">
        <div class="content-title">
          <h1>Latest Transactions</h1>
        </div>
      </div>

      <!-- LIST -->
      <div class="col-lg-12 mb-4 pl-md-2 pr-md-2">
        <div class="content-box-white">


          <div class="container">

            <div class="row qlc-table-header">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-4">Type</div>
              <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5 col-7 text-truncate">Address / Transaction ID</div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 pr-sm-0 pr-4 text-right">Amount</div>
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 d-none d-sm-block col-6 pr-4 text-right">Time</div>
            </div>

            <div class="row qlc-table-row qlc-table-row-twolines closed" *ngFor="let transaction of transactions">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-4 pb-0">
                <span class="qlc-icon icon-{{ transaction.type }}" title="{{ transaction.type }}"></span>
                <span class="d-none d-sm-none d-md-inline-block">
                  <span class="text-color-lightgrey">State</span><br>
                  <span class="text-bold-grey">{{ transaction.type }}</span>
                </span>
              </div>
              <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5 col-7 pb-0 text-truncate">
                <span class="text-color-lightgrey" *ngIf="transaction.type != 'Change'">{{transaction.type == 'Send' || transaction.type == 'ContractSend' ? 'to' : 'from'}}: </span> 
                <a [routerLink]="'/account/' + (transaction.link_as_account || transaction.address)" *ngIf="transaction.type != 'Change'">{{ transaction.link_as_account || transaction.address }}</a>
                <a [routerLink]="'/transaction/' + transaction.hash"><br>
                  <span class="text-tiny">{{ transaction.hash }}</span>
                </a>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 pb-0 pr-sm-0 pr-4 text-right {{
                transaction.type == 'Send' || transaction.type == 'ContractSend' ? 'text-color-red' : 'text-color-green'
              }}">
                <span data-toggle="tooltip" data-placement="top" title="">{{transaction.type == 'Send' || transaction.type == 'ContractSend' ? '-' : '+'}} {{ transaction.amount | qlc:transaction.tokenInfo.decimals | currency:'':'':'1.2-8' }}</span>
                <br><span class="text-color-grey">{{ transaction.tokenName }}</span>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-12 pr-4 text-right">
                {{ transaction.timestamp * 1000 | date: 'short' }}
              </div>
              <div class="container transaction-details">
          
              </div>
            </div>

          </div>


        </div>
      </div>

      <!-- BUTTON -->
      <div class="col-lg-12 mb-0 mt-2 pl-md-2 pr-md-2 text-center">
        <a routerLink="/transactions" class="btn btn-primary btn-blue">ALL TRANSACTIONS</a>
      </div>
    
    </div>
    
  </div>
</div>



<!-- DETAILS -->

<div class="container">
  <div class="row equal">

    <!-- TITLE -->
    <div class="col-lg-12 mb-0 pb-0 mt-0 pl-md-2 pr-md-2">
      <div class="content-title">
        <h1>Network Status</h1>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-white">
        <div class="container">
          <div class="row qlc-table-header-white sub-page">
            <div class="col-12">Representative online</div>
          </div>
          <div class="row qlc-table-row-white sub-page pb-0">
            <div class="col-12 text-wrap pb-1"><span class="row-text-big">{{ representativeOnline }}</span></div>
          </div>
          <div class="row qlc-table-row-white sub-page pt-0">
            <div class="col-12 text-wrap pt-1"><span class="text-blue">{{ representativesCount }} total representatives</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
      <div class="content-box-white">
        <div class="container">
          <div class="row qlc-table-header-white sub-page">
            <div class="col-12">Voting power online (QLC)</div>
          </div>
          <div class="row qlc-table-row-white sub-page pb-0">
            <div class="col-12 text-wrap pb-1"><span class="row-text-big">{{ votingPower | qlc | number }}</span></div>
          </div>
          <div class="row qlc-table-row-white sub-page pt-0">
            <div class="col-12 text-wrap pt-1"><span class="text-blue">{{ votingPowerPercent }} % of total voting power</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pb-2 pr-sm-2 pl-sm-3">
      <div class="content-box-white">
        <div class="container">
          <div class="row qlc-table-header-white sub-page">
            <div class="col-12">Total transaction counter</div>
          </div>
          <div class="row qlc-table-row-white sub-page pb-0">
            <div class="col-12 text-wrap pb-1"><span class="row-text-big">{{ transactionsCount.count }}</span></div>
          </div>
          <div class="row qlc-table-row-white sub-page pt-0">
            <div class="col-12 text-wrap pt-1"><span class="text-blue">{{ transactionsCount.unchecked }} pending transactions</span></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div class="container mt-4 mb-4">
  <div class="row">
  </div>
</div>