<!-- HOME -->
<div class="container mt-4 mb-4 qlc-content-home">
  <div class="row">

    <!-- TITLE -->
    <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
      <div class="content-title">
        <h1>Network Status</h1>
      </div>
    </div>
    
    <!--<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-blue-voting">
        <div class="container">
          <div class="row qlc-table-header-blue">
            <div class="col-12">VOTE RATIO</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12">{{ votingPowerPercent | currency:'':'':'1.2-2' }} %</div>
          </div>
          <div class="row qlc-table-header-darkblue">
            <div class="col-12"><a routerLink="/representatives"><span class="qlc-icon icon-arrow-right-bluelight"></span>Details</a></div>
          </div>
        </div>
      </div>
    </div>-->

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-blue-blocks">
        <div class="container">
          <div class="row qlc-table-header-blue">
            <div class="col-12">BLOCKS</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12">
              <span *ngIf="ws.povLatestHeader != undefined">{{ ws.povLatestHeader.basHdr.height | currency:'':'':'1.0-0' }}</span>
            </div>
          </div>
          <div class="row qlc-table-header-darkblue">
            <div class="col-12"><a routerLink="/pov-explorer"><span class="qlc-icon icon-arrow-right-bluelight"></span>All Blocks</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
      <div class="content-box-blue bg-blue-transactions">
        <div class="container">
          <div class="row qlc-table-header-blue">
            <div class="col-12">TRANSACTIONS</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12">{{ wallet.blocksCount.count | currency:'':'':'1.0-0' }}</div>
          </div>
          <div class="row qlc-table-header-darkblue">
            <div class="col-12"><a routerLink="/transactions"><span class="qlc-icon icon-arrow-right-bluelight"></span>All transactions</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-blue-accounts">
        <div class="container">
          <div class="row qlc-table-header-blue">
            <div class="col-12">WALLETS</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12">{{ accountsCreated | currency:'':'':'1.0-0' }}</div>
          </div>
          <div class="row qlc-table-header-darkblue">
            <div class="col-12"><a routerLink="/accounts"><span class="qlc-icon icon-arrow-right-bluelight"></span>All wallets</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
      <div class="content-box-blue bg-blue-tokens">
        <div class="container">
          <div class="row qlc-table-header-blue">
            <div class="col-12">TOKENS</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12">{{ tokensCount | currency:'':'':'1.0-0'}}</div>
          </div>
          <div class="row qlc-table-header-darkblue">
            <div class="col-12"><a routerLink="/tokens"><span class="qlc-icon icon-arrow-right-bluelight"></span>All tokens</a></div>
          </div>
        </div>
      </div>
    </div>
        
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 pl-md-2 pr-md-2 mt-0 mb-3 d-none d-md-block ">
      <a routerLink="/portal">
        <img src="assets/img/banner-mining-support-plan-lg.png" alt="Banner minner support plan" style="width: 100%;">
      </a>
    </div>

    <div class="col-12 pl-md-2 pr-md-2 mt-0 mb-3 d-block d-md-none ">
      <a routerLink="/portal">
        <img src="assets/img/banner-mining-support-plan-sm.png" alt="Banner minner support plan" style="width: 100%;">
      </a>
    </div>

    
  </div>
</div>
<div class="container"><div class="row">

  <div class="col-lg-6 col-md-12 col-12 pl-0 pr-0">
    <!-- LATEST BLOCKS -->
    <div class="container mt-0 mb-3">
      <div class="row">
        
        <div class="col-12 pl-0 pr-0">
          
          <!-- TITLE -->
          <div class="col-lg-12 mb-3 mt-2 pl-md-2 pr-md-2">
            <div class="content-title">
              <h1>Latest Blocks</h1>
            </div>
          </div>
    
          <!-- LIST -->
          <div class="col-lg-12 mb-4 pl-md-2 pr-md-2">
            <div class="content-box-white">
    
                <div class="container">
      
                    <div class="row qlc-table-header">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 pl-4">Block</div>
                      <div class="col-xl-5 col-lg-6 col-md-4 col-sm-6 col-6 text-truncate">Hash / Miner Account</div>
                      <div class="col-xl-2 col-lg-3 pr-lg-4 col-md-2 col-sm-3 col-3 text-sm-right text-xl-center text-lg-right text-md-center text-right pr-sm-4 pr-md-0 pr-lg-0 pr-4">Tx Num</div>
                      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 d-none d-xl-block d-lg-none d-md-block col-6 pr-4 text-right">Time</div>
                    </div>
                    
                    <div class="row qlc-table-row qlc-table-row-four closed row-anim-in" *ngFor="let povHeader of ws.latest5Blocks">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 pl-4 pb-0">
                        <span class="">
                          <span class="qlc-icon icon-block" title="Block {{ povHeader.basHdr.height | currency:'':'':'1.0-0' }}"></span>
                          <span class="text-bold-grey"><a [routerLink]="'/pov/height/' + povHeader.basHdr.height">{{ povHeader.basHdr.height | currency:'':'':'1.0-0' }}</a></span>
                        </span>
                      </div>
                      <div class="col-xl-5 col-lg-7 col-md-4 col-sm-7 col-7 pb-0">
                        <span class="text-color-lightgrey text-tiny">Hash: </span><a [routerLink]="'/pov/hash/' + povHeader.basHdr.hash">{{ povHeader.basHdr.hash | squeeze : '11,10' }}</a><br>
                        <span class="text-color-lightgrey text-tiny">Miner: </span><a [routerLink]="'/account/' + povHeader.cbtx.txOuts[0].address">{{ povHeader.cbtx.txOuts[0].address | squeeze : '11,10' }}</a><br>
                        <span class="text-color-lightgrey text-tiny">Algorithm: </span>{{ povHeader.algoName }}<br>
                        <span class="text-color-lightgrey text-tiny">AuxPOW: </span>{{ (povHeader.auxHdr != null ? 'Yes' : 'No' ) }}
                        
                      </div>
                      <div class="col-xl-2 col-lg-2 pr-lg-4 col-md-2 col-sm-2 col-2 pb-0 pr-sm-4 pr-md-0 pr-lg-0 pr-4 text-sm-right text-md-center text-xl-center text-lg-right text-right ">
                          {{ povHeader.cbtx.txNum }}
                      </div>
                      <div class="col-xl-2 col-lg-12 col-md-3 col-sm-12 col-12 pr-4 text-right text-lg-right pr-lg-4">
                        {{ povHeader.basHdr.timestamp * 1000 | date: 'short' }}
                      </div>
                  </div>
                </div>
             
    
    
            </div>
          </div>
    
          <!-- BUTTON -->
          <div class="col-lg-12 mb-0 mt-2 pl-md-2 pr-md-2 text-center">
            <a routerLink="/pov-explorer" class="btn btn-primary btn-blue">ALL BLOCKS</a>
          </div>
        
        </div>
        
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12 col-12 pl-0 pr-0">
<!-- LATEST TRANSACTIONS -->
<div class="container mt-0 mb-3">
  <div class="row">
    
    <div class="col-12 pl-0 pr-0">
      
      <!-- TITLE -->
      <div class="col-lg-12 mb-3 mt-2 pl-md-2 pr-md-2">
        <div class="content-title">
          <h1>Latest Transactions</h1>
        </div>
      </div>

      <!-- LIST -->
      <div class="col-lg-12 mb-4 pl-md-2 pr-md-2">
        <div class="content-box-white">


          <div class="container">

            <div class="row qlc-table-header">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 pl-4">Type</div>
              <div class="col-xl-5 col-lg-7 col-md-4 col-sm-7 col-6 text-truncate">Address / Transaction ID</div>
              <div class="col-xl-2 col-lg-2 pr-lg-4 col-md-2 pr-md-0 col-sm-2 col-3 pr-sm-4 pr-4 pr-xl-0 text-right text-xl-right">Amount</div>
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 d-none d-xl-block d-md-block d-lg-none d-sm-none col-6 pr-4 text-right">Time</div>
            </div>

            <div class="row qlc-table-row qlc-table-row-four closed row-anim-in" *ngFor="let transaction of ws.latest5Transactions">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 pl-4 pb-0 pr-sm-0">
                <span class="qlc-icon icon-{{ transaction.type }}" title="{{ transaction.type }}"></span>
                <span class="d-none d-sm-inline-block d-md-inline-block">
                  <span class="text-bold-grey" *ngIf="transaction.type != 'ContractReward'">{{ transaction.type }}</span>
                  <span class="text-bold-grey" *ngIf="transaction.type == 'ContractReward'" style="font-size: 11px;">{{ transaction.type }}</span>
                </span>
              </div>
              <div class="col-xl-5 pr-xl-0 col-lg-6 col-md-4 col-sm-6 col-6 pb-0">
                <span class="text-color-lightgrey text-tiny">{{transaction.type == 'Send' || transaction.type == 'ContractSend' ? 'To' : 'From'}}: </span> 
                <a [routerLink]="'/account/' + (transaction.link_as_account || transaction.address)">{{ transaction.link_as_account || transaction.address | squeeze : '11,10' }}</a><br>
                <span class="text-color-lightgrey text-tiny">Hash: </span> 
                <a [routerLink]="'/transaction/' + transaction.hash"><span>{{ transaction.hash | squeeze : '11,10' }}</span></a>
                <span *ngIf="transaction.povConfirmHeight > 0">
                  <br><span class="text-color-lightgrey text-tiny">Confirm height:</span>
                  <a [routerLink]="'/pov/height/' + transaction.povConfirmHeight"> {{ transaction.povConfirmHeight }}</a><br> 
                  <span class="text-color-lightgrey text-tiny">Confirm count:</span> {{ transaction.povConfirmCount }}
                </span>
              </div>
              <div class="col-xl-2 pr-xl-0 col-lg-3 pr-lg-4 col-md-2 pr-md-0 col-sm-3 col-3 pb-0 pr-sm-0 pr-sm-4 pr-4 text-xl-right text-right {{
                transaction.type == 'Send' || transaction.type == 'ContractSend' ? 'text-color-red' : 'text-color-green'
              }}" [ngStyle]="{'font-size: 11px': transaction.type == 'ContractReward'}">
                <span data-toggle="tooltip" data-placement="top" title="" *ngIf="transaction.tokenInfo && transaction.type != 'ContractReward'" style="font-size: 11px;">{{transaction.type == 'Send' || transaction.type == 'ContractSend' ? '-' : '+'}} {{ transaction.amount | qlc:transaction.tokenInfo.decimals | currency:'':'':'1.2-8' }}</span>
                <span data-toggle="tooltip" data-placement="top" title="" *ngIf="transaction.tokenInfo && transaction.type == 'ContractReward'" style="font-size: 11px;">{{transaction.type == 'Send' || transaction.type == 'ContractSend' ? '-' : '+'}} {{ transaction.amount | qlc:transaction.tokenInfo.decimals | currency:'':'':'1.2-8' }}</span>
                <br><span class="text-color-grey">{{ transaction.tokenName }}</span>
              </div>
              <div class="col-xl-2 col-lg-12 col-md-3 col-sm-12 col-12 pr-4 text-right">
                {{ transaction.timestamp * 1000 | date: 'short' }}
              </div>
              <div class="container transaction-details">
          
              </div>
            </div>

          </div>


        </div>
      </div>

      <!-- BUTTON -->
      <div class="col-lg-12 mb-0 mt-2 pl-md-2 pr-md-2 text-center">
        <a routerLink="/transactions" class="btn btn-primary btn-blue">ALL TRANSACTIONS</a>
      </div>
    
    </div>
    
  </div>
</div>
</div>

</div></div>

<!-- POV STATUS -->

<div class="container">
  <div class="row equal">

    <!-- TITLE -->
    <div class="col-lg-12 mb-0 pb-0 mt-4 pl-md-2 pr-md-2">
      <div class="content-title">
        <h1>Mining Status (POV)</h1>
      </div>
    </div>
    
    <a routerLink="/mining" class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2" style="text-decoration: none;">
      <div class="content-box-white">
        <div class="container">
          <div class="row qlc-table-header-white sub-page">
            <div class="col-12">Miners online</div>
          </div>
          <div class="row qlc-table-row-white sub-page pb-0">
            <div class="col-12 text-wrap pb-1"><span class="row-text-big" style="color: #000000;">{{ minerOnline | currency:'':'':'1.0-0' }}</span></div>
          </div>
          <div class="row qlc-table-row-white sub-page pt-0">
            <div class="col-12 text-wrap pt-1"><span class="text-blue">{{ minerCount | currency:'':'':'1.0-0' }} total mining accounts</span></div>
          </div>
        </div>
      </div>
    </a>

    <a routerLink="/representatives" class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pr-sm-2 pb-2" style="text-decoration: none;">
      <div class="content-box-white">
        <div class="container">
          <div class="row qlc-table-header-white sub-page">
            <div class="col-12">Voting power online</div>
          </div>
          <div class="row qlc-table-row-white sub-page pb-0">
            <div class="col-12 text-wrap pb-1"><span class="row-text-big" style="color: #000000;">{{ votingPower | qlc | number }}</span></div>
          </div>
          <div class="row qlc-table-row-white sub-page pt-0">
            <div class="col-12 text-wrap pt-1"><span class="text-blue">{{ votingPowerPercent }} % of total voting power</span></div>
          </div>
        </div>
      </div>
    </a>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pb-2 pr-sm-2 pl-sm-3">
      <div class="content-box-white">
        <div class="container">
          <div class="row qlc-table-header-white sub-page">
            <div class="col-12">Avg. tx / block</div>
          </div>
          <div class="row qlc-table-row-white sub-page pb-0">
            <div class="col-12 text-wrap pb-1"><span class="row-text-big">{{ povInfo.AvgTxPerBlock }}</span></div>
          </div>
          <div class="row qlc-table-row-white sub-page pt-0">
            <div class="col-12 text-wrap pt-1"><span class="text-blue">{{ povInfo.AllTxNum }} tx in last 24 hours</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pl-sm-2 pb-2">
      <div class="content-box-white">
        <div class="container">
          <div class="row qlc-table-header-white sub-page">
            <div class="col-12">Nodes online</div>
          </div>
          <div class="row qlc-table-row-white sub-page pb-0">
            <div class="col-12 text-wrap pb-1"><span class="row-text-big">{{ nodesOnline | currency:'':'':'1.0-0' }}</span></div>
          </div>
          <div class="row qlc-table-row-white sub-page pt-0">
            <div class="col-12 text-wrap pt-1"><span class="text-blue">{{ nodesTotal | currency:'':'':'1.0-0' }} total nodes</span></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- POV GRAPHS -->

<div class="container">
    <div class="row equal">

      
      <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
        <div class="content-box-white">
          <div class="container">
            <div class="row qlc-table-header-white sub-page">
              <div class="col-12">
                <div class="content-title" style="text-transform: none;">
                  <h1>24h Mining Rewards (QGAS)</h1>
                </div>
              </div>
            </div>
            <div class="row qlc-table-row-white sub-page pb-0">
              <div class="col-12">
                <ngx-chartjs [data]="miningRewardsGraphData" [options]="graphOptions" [redraw]="true" type="line" class="w-100"></ngx-chartjs>
              </div>
            </div>
            <div class="row qlc-table-row-white sub-page pt-0">
              <div class="col-6 pt-4">
                  <span>24h avg. mining reward: </span><span class="text-blue">{{ totalMiningReward/24 | currency:'':'':'1.2-2'}} QGAS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
        <div class="content-box-white">
          <div class="container">
            <div class="row qlc-table-header-white sub-page">
              <div class="col-12">
                <div class="content-title" style="text-transform: none;">
                  <h1>24h Transactions</h1>
                </div>
              </div>
            </div>
            <div class="row qlc-table-row-white sub-page pb-0">
              <div class="col-12">
                <ngx-chartjs [data]="transactionsGraphData" [options]="transactionsgraphOptions" redraw="true" type="line" class="w-100"></ngx-chartjs>
              </div>
            </div>
            <div class="row qlc-table-row-white sub-page pt-0">
              <div class="col-6 pt-4">
                <span>24h avg. transactions: </span><span class="text-blue">{{ povInfo.AvgTxPerBlock }}</span>
              </div>
              <div class="col-6 pt-4">
                <span>Max transactions in block: </span><span class="text-blue">{{ povInfo.MaxTxPerBlock }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
<div class="container">
    <div class="row equal">

      
      <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
        <div class="content-box-white">
          <div class="container">
            <div class="row qlc-table-header-white sub-page">
              <div class="col-12">
                <div class="content-title" style="text-transform: none;">
                  <h1>Blocks Last 2 Hours</h1>
                </div>
              </div>
            </div>
            <div class="row qlc-table-row-white sub-page pb-0">
              <div class="col-12">
                <ngx-chartjs [data]="blockHashData" [options]="pieChartOptions" [redraw]="true" type="pie" class="w-100"></ngx-chartjs>
              </div>
            </div>
            <div class="row qlc-table-row-white sub-page pt-0">
              <div class="col-12 pt-4">
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
        <div class="content-box-white">
          <div class="container">
            <div class="row qlc-table-header-white sub-page">
              <div class="col-12">
                <div class="content-title" style="text-transform: none;">
                  <h1>Blocks Last 24 Hours</h1>
                </div>
              </div>
            </div>
            <div class="row qlc-table-row-white sub-page pb-0">
              <div class="col-12">
                <ngx-chartjs [data]="blockHashData24" [options]="pieChartOptions" redraw="true" type="pie" class="w-100"></ngx-chartjs>
              </div>
            </div>
            <div class="row qlc-table-row-white sub-page pt-0">
              <div class="col-12 pt-4">
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
<!-- NEWS -->
<div class="container mt-4 mb-4">
  <div class="row">

    <!-- TITLE -->
    <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
      <div class="content-title">
        <h1>News</h1>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2" *ngFor="let news of newsList">
      <div class="content-box-white">
        <div class="container">
          <div class="row">
            <div class="col-12 pt-4 pb-4 pl-4 pr-4">
              <p class="date-mini">{{ news.date | date: 'MM/dd/yyyy' }}</p>
              <a href="{{ news.link }}" target="_blank" style="text-decoration: none !important;"><h3 class="pb-4 link-blue">{{ news.title }}</h3></a>
              <p>{{ news.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BUTTON -->
    <div class="col-lg-12 pt-2 pb-5 mb-0 mt-2 pl-md-2 pr-md-2 text-center">
      <a routerLink="/news" class="btn btn-primary btn-blue">ALL NEWS</a>
    </div>

  </div>
</div>

<div class="container mt-4 mb-4">
  <div class="row">
  </div>
</div>