@import "../../../scss/mixins";
.neo {
	color: #659A28;
}
.neo-background {
	background-color: #659A28 !important;
}
.neo-background:hover {
	background-color: #78af39 !important;
}
.neo-background-light {
	background-color: #8BC34A !important;
}
.chainx-background {
	background-color: #b5943a !important;
}
.chainx-background:hover {
	background-color: #bd9c3f !important;
}
.chainx-background-light {
	background-color: #caa847 !important;
}
.white {
	color: #ffffff;
}
.accounts {
	position: relative;
	text-align: left;
	
	h1 {
		display: inline-block;
		margin-bottom: 0;
	}
	button.btn.content-header {
		width: auto;
		position: absolute;
		right: 0;
		bottom: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
	.editNameButtons button.btn {
		margin-top: 0;
	}
	.account {
		> div > .accountHeader {
			background-color: $accountHeaderBg;
			min-height: 58px;
			border-left: 4px solid $default;
			border-bottom: 1px solid #edeef4;
			padding-left: 16px;
			padding-right: 20px;

			
			
			.options {
				text-align: right;
			}
			.name {
				font-weight: bold;
				color: $default;
			}
			.address {
				font-weight: bold;
			}
		}
		.price {
			@media (max-width: 992px) {
				display: none;
			}
		}
		.pricechange {
			@media (max-width: 992px) {
				display: none;
			}
		}
		.totalvalue {
			@media (max-width: 767px) {
				display: none;
			}
		}
		> div > .accountFooter {
			color: $text;
		}
	}
}
