.qrcode {
    width: 100%;
    img {
        width: 100%;
    }
}

.neo {
	color: #659A28;
}
.neo-background {
	background-color: #659A28 !important;
}
.neo-background-light {
	background-color: #8BC34A !important;
}
.white {
	color: #ffffff;
}