<div class="qlc-top-submenu">
    <div class="container">
        <div class="row">
            <div class="col-12 pl-md-2 pr-md-2">
                <div class="qlc-dashboard-submenu">
                    <a class="submenu-item submenu-item-red icon-submenu-locked" style="float:right;margin-right:0px;" (click)="openModal(unlockWallet)" *ngIf="walletService.isConfigured() && walletService.isLocked()" title="Unlock"><span>Unlock</span></a>
                    <a class="submenu-item submenu-item-green icon-submenu-unlocked" style="float:right;margin-right:0px;" (click)="lockWallet()" *ngIf="walletService.isConfigured() && !walletService.isLocked()" title="Lock"><span>Lock</span></a>

                    <a routerLink="/createwallet" class="submenu-item icon-submenu-wallets" routerLinkActive="active" *ngIf="!walletService.isConfigured()" title="Create/Import Account"><span></span></a>

                    <a routerLink="/dashboard" class="submenu-item icon-submenu-dashboard" routerLinkActive="active" *ngIf="walletService.isConfigured()" title="Dashboard"><span>Dashboard</span></a>
                    <a routerLink="/wallets" class="submenu-item icon-submenu-wallets" routerLinkActive="active" *ngIf="walletService.isConfigured()" title="Wallets"><span>Wallets</span></a>
                    <a routerLink="/staking" class="submenu-item icon-submenu-staking" routerLinkActive="active" *ngIf="walletService.isConfigured()" title="Staking"><span>Staking</span></a>
                    <a routerLink="/ccswap" class="submenu-item icon-submenu-staking" routerLinkActive="active" *ngIf="walletService.isConfigured()" title="Swap"><span>Swap</span></a>
                    <a routerLink="/mining" class="submenu-item icon-submenu-mining" routerLinkActive="active" *ngIf="walletService.isConfigured()" title="Mining"><span>Mining</span></a>
                    <a routerLink="/representation" class="submenu-item icon-submenu-representatives" routerLinkActive="active" *ngIf="walletService.isConfigured()" title="Representatives"><span>Representatives</span></a>
                    <a routerLink="/settings" class="submenu-item icon-submenu-settings" routerLinkActive="active" *ngIf="walletService.isConfigured()" title="Settings"><span>Settings</span></a>
                </div>
            </div>
        </div>
    </div>
</div>  


<ng-template #unlockWallet>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row text-center">
        <div class="col-12 col-sm-10 offset-sm-1">
            <div class="form-group text-center">
              <img src="assets/img/qlc-icon-lock-red.svg" style="width:80px;height:auto;" class="pt-4">
              <h1 class="pt-4">Unlock Account</h1>
              <div class="input-group pt-3 pb-3">
                <input class="form-control pass-field text-center w-100" type="password" [(ngModel)]="unlockPassword" (keyup.enter)="unlockWalletConfirm()" placeholder="Enter your password" appAutofocus>
              </div>
              <button class="btn btn-primary mb-4 w-100 pl-0 pr-0" style="min-width: 0px !important;" type="button" (click)="unlockWalletConfirm()">UNLOCK</button>
            </div>
      </div>
    </div>
    
  </div>
</ng-template>