.qrcode {
    width: 100%;
    img {
        width: 100%;
    }
}

.neo {
	color: #595757;
}
.neo-background {
	background-color: #659A28 !important;
}
.neo-background-light {
	background-color: #8BC34A !important;
}
.white {
	color: #ffffff;
}
.btn-primary.neo-background-light:hover {
    background-color: #659A28 !important;
}
.btn-primary.neo-background:hover {
    background-color: #74aa36 !important;
}
.row-anim-in {
    -webkit-animation: row-anim-in-keyframes 0.35s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: row-anim-in-keyframes 0.35s ease-in-out; /* Firefox < 16 */
        -ms-animation: row-anim-in-keyframes 0.35s ease-in-out; /* Internet Explorer */
         -o-animation: row-anim-in-keyframes 0.35s ease-in-out; /* Opera < 12.1 */
            animation: row-anim-in-keyframes 0.35s ease-in-out;
    transform-origin: bottom left;
}