<!-- SIGN IN -->
<div class="container mt-0 pt-0 mt-0 mb-2 qlc-content-first">
  <div class="row pt-0 mt-0">

    <!-- SIGN IN -->
    <div class="col-lg-12 pl-0 pr-0 pt-0">
              
              <!-- SUMMARY -->
              <div class="container mt-0 mb-4">
                  <div class="row">

                      <!-- TITLE -->
                      <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
                          <div class="content-title">
                              <h1>Sign in</h1>
                          </div>
                      </div>

                      <div class="col-lg-12 mt-2 mb-4 pl-md-2 pr-md-2">
                          <div class="content-box-white">
                              <form>
                                  <div class="container">
          
                                      <div class="row qlc-table-header-white pb-4 pt-5">
                                          <div class="col-lg-6 offset-lg-3 content-title"><h2 class="title-grey">How would you like to access your account?</h2></div>
                                          <div class="col-lg-6 offset-lg-3 mt-4">

                                              <div class="custom-control custom-radio custom-control-inline">
                                                  <input type="radio" id="signinType1" name="signinType" class="custom-control-input" checked>
                                                  <label class="custom-control-label" for="signinType1">Wallet Mnemonic phase</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline">
                                                  <input type="radio" id="signinType2" name="signinType" class="custom-control-input">
                                                  <label class="custom-control-label" for="signinType2">Wallet Seed</label>
                                              </div>

                                          </div>
                                          <div class="col-lg-6 offset-lg-3 mt-4"><input type="text" class="form-control mt-1" placeholder="Enter your mnemonic phase" /></div>
                                      </div>
                                      
                                      <div class="row qlc-table-row-white">
                                          <div class="col-12 pl-4 pb-3 pr-3 pt-2 text-center">
                                              <a href="/myaccount" class="btn btn-primary btn-blue mt-1">SIGN IN</a>
                                          </div>
                                      </div>

                                  </div>
                              </form>
                          </div>
                      </div>

                  </div>
              </div>

          </div>


<div class="container mt-4 mb-4">
  <div class="row">
  </div>
</div>