<!-- SIGN IN -->
<div class="container mt-0 pt-0 mt-0 mb-2 qlc-content-first">
  <div class="row pt-0 mt-0">

    <!-- SIGN IN -->
    <div class="col-lg-12 pl-0 pr-0 pt-0">
              
              <!-- SUMMARY -->
              <div class="container mt-0 mb-4">
                  <div class="row">

                      <!-- TITLE -->
                      <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
                          <div class="content-title">
                              <h1>Sign in</h1>
                          </div>
                      </div>

                      <div class="col-lg-12 mt-2 mb-4 pl-md-2 pr-md-2">
                          <div class="content-box-white">
                              
                                  <div class="container">
          
                                      <div class="row qlc-table-header-white pb-4 pt-5">
                                          <div class="col-lg-6 offset-lg-3 content-title"><h2 class="title-grey">Unlock wallet</h2></div>
                                          
                                          <div class="col-lg-6 offset-lg-3 mt-4"><input type="password" class="form-control mt-1" appAutofocus [(ngModel)]="unlockPassword" (keyup.enter)="unlockWalletConfirm()" placeholder="Enter your password" /></div>
                                      </div>
                                      
                                      <div class="row qlc-table-row-white">
                                          <div class="col-12 pl-4 pb-3 pr-3 pt-2 text-center">
                                              <a (click)="unlockWalletConfirm()" class="btn btn-primary btn-blue mt-1">SIGN IN</a>
                                          </div>
                                      </div>

                                  </div>
                          </div>
                      </div>

                  </div>
              </div>

          </div>


<div class="container mt-4 mb-4">
  <div class="row">
  </div>
</div>