<div class="container mt-0 qlc-content-first pl-0 pr-0 mb-5 pb-5">
	<div class="row">


		<!-- REPRESENTATIVES -->
		<div class="col-12">

			<!-- TITLE -->
			<div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
				<button type="submit" class="btn btn-primary content-header float-right" routerLink="/manage-representatives">
					{{ 'REPRESENTATIVES.representatives_button' | translate }}
				</button>
				<div class="content-title">
					<h1>{{ 'REPRESENTATIVES.representatives_title' | translate }}</h1>
				</div>
			</div>
			
		</div>



		<!-- REPRESENTATIVES -->
		<div class="col-12 mt-2">
			<!-- TITLE -->
			<div class="col-lg-12 mt-2 pl-md-2 pr-md-2">
					<div class="col-12 pt-4 pl-0">	
						<h6>{{ 'REPRESENTATIVES.representatives_text' | translate }}</h6>
					</div>
			</div>
		</div>


		<!-- LIST -->
		<div class="col-lg-12 mb-0 mt-2 pl-4 pr-4">

				<div class="container">

					<div class="row qlc-table-header">
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-2 pl-4">{{ 'REPRESENTATIVES.status' | translate }}</div>
						<div class="col-xl-7 col-lg-7 col-md-6 col-sm-5 col-6 text-truncate">{{ 'REPRESENTATIVES.representative' | translate }}</div>
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 text-right">{{ 'REPRESENTATIVES.weight' | translate }}</div>
					</div>

					<div class="row qlc-table-row closed"  *ngFor="let rep of representativeOverview">
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-2 pl-4">
							<span *ngIf="rep.status === 'alert'" tooltip="{{ 'REPRESENTATIVES.status_alert' | translate }}"
								><span class="icon avoid"></span> {{ 'REPRESENTATIVES.change' | translate }}</span
							>
							<span *ngIf="rep.status === 'warn'" tooltip="{{ 'REPRESENTATIVES.status_warn' | translate }}"
								><span class="icon avoid"></span> {{ 'REPRESENTATIVES.change' | translate }}</span
							>
							<span *ngIf="rep.status === 'trusted'" tooltip="{{ 'REPRESENTATIVES.status_trusted' | translate }}"
								><span class="icon trusted"></span> {{ 'REPRESENTATIVES.trusted' | translate }}</span
							>
							<span *ngIf="rep.status === 'known'" tooltip="{{ 'REPRESENTATIVES.status_known' | translate }}"
								><span class="icon trusted"></span> {{ 'REPRESENTATIVES.known' | translate }}</span
							>
							<span *ngIf="rep.status === 'none'" tooltip="{{ 'REPRESENTATIVES.status_none' | translate }}"
								><span class="icon avoid"></span> {{ 'REPRESENTATIVES.unknown' | translate }}</span
							>
						</div>
						<div class="col-xl-7 col-lg-7 col-md-6 col-sm-5 col-6 text-truncate"
								(click)="addSelectedAccounts(rep.accounts)"
								style="cursor: pointer;"
							>
								<span
									class="icon online"
									*ngIf="rep.online"
									tooltip="{{ 'REPRESENTATIVES.online' | translate }}"
									container="body"
								></span>
								<span
									class="icon offline"
									*ngIf="!rep.online"
									tooltip="{{ 'REPRESENTATIVES.offline' | translate }}"
									container="body"
								></span>
								<span tooltip="{{ 'REPRESENTATIVES.select_accounts' | translate }}" container="body"
									><span *ngIf="rep.label">{{ rep.label }}</span> <span *ngIf="!rep.label">{{ rep.id }}</span></span
								>
							

						</div>
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 text-right">
								{{ rep.delegatedWeight | qlc:8 | currency:'':'':'1.0-8' }}
						</div>
					</div>

				</div>

		</div>




		<!-- CLICK TO CHANGE TEXT -->
		<div class="col-12 mt-0">
			<!-- TITLE -->
			<div class="col-lg-12 mt-0 pl-md-4 pr-md-4">

				<div class="row qlc-table-row closed" *ngIf="!representativeOverview || !representativeOverview.length">
					<div class="col-12">
						<div class="text-center">{{ 'REPRESENTATIVES.no_voting_delegate' | translate }}</div>
					</div>
				</div>

				<div class="row align-items-center rowFooter" class="col-12 pt-4 pl-0">
					<div class="px-0 col-12 text-center">{{ 'REPRESENTATIVES.select_all_acc_with_rep' | translate }}</div>
				</div>
			</div>
		</div>






		<!-- CHANGE REPS -->
		<div class="col-lg-12 mt-2 pl-md-4 pr-md-4">
			<div class="content-title">
			<h1>{{ 'REPRESENTATIVES.change_reps' | translate }}</h1>
			</div>
		</div>

		<div class="col-12 pr-2 pl-md-4 pr-md-4 mt-2">
			<div class="content-box-white">

					<div class="col-12 pl-4 pt-4 pb-4 pr-4">
							<div class="row align-items-top">
								<div class="col-md-2 pb-md-0 text-truncate dataName form-label-custom-2 pt-0">
									{{ 'REPRESENTATIVES.accounts_to_change' | translate }}
								</div>
								<div class="col-md-10 text-left text-truncate">
									<div class="form-group">
										<select class="custom-select" [(ngModel)]="changeAccountID" (change)="newAccountID(changeAccountID)">
											<option [value]="null">{{ 'REPRESENTATIVES.select_accounts_to_change' | translate }}</option>
											<option [value]="'all'">{{ 'REPRESENTATIVES.all_accounts' | translate }}</option>
											<ng-container *ngFor="let account of accounts">
												<option [value]="account.id" *ngIf="account.accountMeta.coinBalance >= 0"
													>{{ account.addressBookName ? account.addressBookName + ' - ' : '' }} {{ account.id | squeeze }} ({{
														account.accountMeta.coinBalance | qlc: settings.settings.displayDenomination
													}}) 
												</option>
											</ng-container>
										</select>
									</div>
								</div>
							</div>
							<div class="row align-items-top" *ngFor="let account of selectedAccounts">
								<div class="col-md-2 pb-3 pb-md-0 d-none d-md-block text-truncate dataName"></div>
								<div class="col-md-8 col-11 text-left text-truncate">
									<span class="name" *ngIf="account.addressBookName">{{ account.addressBookName }} </span>
									<span class="address">{{ account.id }}</span>
								</div>
								<div class="col-md-2 col-1 text-right">
									<a (click)="removeSelectedAccount(account)" class="icon delete"></a>
								</div>
							</div>
				
							<div class="row align-items-top">
								<div class="col-md-2 pb-3 pb-md-0 text-truncate dataName form-label-custom-2 pb-4">{{ 'REPRESENTATIVES.new_rep' | translate }}</div>
								<div class="col-md-10 text-left text-truncate py-3">
									<div class="form-group">
										<select class="custom-select contacts" [(ngModel)]="representativeSelect" (change)="selectRep()">
											<option *ngFor="let rep of (representativeResults$ | async)" [value]="rep.id"
												>{{ rep.name }} {{ rep.id }}</option
											>
										</select>
										<input
											type="text"
											class="form-control newrepresentative"
											placeholder="{{ 'REPRESENTATIVES.new_rep_placeholder' | translate }}"
											onfocus="this.placeholder = ''"
											(blur)="validateRepresentative()"
											(keyup)="searchRepresentatives()"
											(focus)="searchRepresentatives()"
											[(ngModel)]="toRepresentativeID"
											#repInput
										/>
									</div>
								</div>
							</div>
				
							<div class="row align-items-center rowButtons">
								<div class="col-md-2 text-truncate dataName"></div>
								<div class="col-lg-3 col-md-4 col-sm-6 col-12 text-left text-truncate">
									<button
										type="submit"
										class="btn btn-primary"
										(click)="changeRepresentatives()"
										*ngIf="!changingRepresentatives"
									>
										{{ 'REPRESENTATIVES.update_rep' | translate }}
									</button>
									<button type="submit" class="btn btn-primary" *ngIf="changingRepresentatives">
										{{ 'REPRESENTATIVES.updating_rep' | translate }}
									</button>
								</div>
							</div>
						</div>
						


				</div>
			</div>

		</div>









</div>			 




