<app-user-submenu></app-user-submenu>

<!-- USER DASHBOARD MAIN MENU -->
<div class="container mt-4 mb-4 qlc-content-home qlc-after-submenu">
  <div class="row">

    <!-- TITLE -->
    <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
      <div class="content-title mb-4">
        <h1>Account Dashboard</h1>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-blue-user-wallets" routerLink="/wallets" style="cursor: pointer;">
        <div class="container">
          <div class="row qlc-table-header-blue" style="padding-top:180px;">
            <div class="col-12">01</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12 font-dash-menu">Wallets</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
      <div class="content-box-blue bg-blue-user-staking" routerLink="/staking" style="cursor: pointer;">
        <div class="container">
          <div class="row qlc-table-header-blue" style="padding-top:180px;">
            <div class="col-12">02</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12 font-dash-menu">Staking</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-blue-user-mining" routerLink="/mining" style="cursor: pointer;">
        <div class="container">
          <div class="row qlc-table-header-blue" style="padding-top:180px;">
            <div class="col-12">03</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12 font-dash-menu">Mining</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
      <div class="content-box-blue bg-blue-user-reps" routerLink="/representation" style="cursor: pointer;">
        <div class="container">
          <div class="row qlc-table-header-blue" style="padding-top:180px;">
            <div class="col-12">04</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12 font-dash-menu">Representatives</div>
          </div>
        </div>
      </div>
    </div>
              
  </div>
</div>


<!-- HOME -->
<div class="container mt-4 mb-4">
  <div class="row">

    <!-- TITLE -->
    <div class="col-lg-12 mb-0 pb-0 mt-2 pl-md-2 pr-md-2">
      <div class="content-title mb-4">
        <h1>Quick Send</h1>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-quicksend-qlc" routerLink="/wallets/qlc/send" style="cursor: pointer;">
        <div class="container">
          <div class="row qlc-table-header-purple" style="padding-top:180px;">
            <div class="col-12">Send via</div>
          </div>
          <div class="row qlc-table-row-purple">
            <div class="col-12 font-dash-menu">QLC Chain</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-2">
      <div class="content-box-blue bg-quicksend-neo" routerLink="/wallets/neo/send" style="cursor: pointer;">
        <div class="container">
          <div class="row qlc-table-header-green" style="padding-top:180px;">
            <div class="col-12">Send via</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12 font-dash-menu">NEO Chain</div>
          </div>
        </div>
      </div>
    </div>
<!--
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-0 pl-md-2 pr-md-2 pr-sm-2 pb-2">
      <div class="content-box-blue bg-quicksend-chainx" routerLink="/wallets/chainx/send" style="cursor: pointer;">
        <div class="container">
          <div class="row qlc-table-header-chainx" style="padding-top:180px;">
            <div class="col-12">Send via</div>
          </div>
          <div class="row qlc-table-row-blue">
            <div class="col-12 font-dash-menu">ChainX</div>
          </div>
        </div>
      </div>
    </div>
-->              
  </div>
</div>