.chainx-background {
  background-color: #b5943a !important;
}
.chainx-background:hover {
  background-color: #b5943a !important;
}
.chainx-background-light {
  background-color: #caa847 !important;
}

.qrcode {
  width: 100%;
  img {
    width: 100%;
  }
}

.chainx {
  color: #595757 !important;
}
.white {
  color: #ffffff;
}
.btn-primary.chainx-background-light:hover {
  background-color: #b5943a !important;
}
.btn-primary.chainx-background:hover {
  background-color: #bd9c3f !important;
}
.menu-myaccount:hover {
  text-decoration: none !important;
  color: #eeddad !important;
}
.overflow-wrap {
  overflow-wrap: break-word;
}
