.neo {
	color: #659A28;
}
.neo-background {
	background-color: #659A28 !important;
}
.neo-background-light {
	background-color: #8BC34A !important;
}
.white {
	color: #ffffff;
}
.btn-primary.neo-background-light:hover {
    background-color: #659A28 !important;
}
.btn-primary.neo-background:hover {
    background-color: #74aa36 !important;
}

.qlc-table-row div:last-child {
    padding: 8px 10px 9px 5px;
}
.qlc-table-row div {
    padding: 8px 5px 9px 5px;
}

.qlc-table-row {
    font-size: 18px;
}