<!-- ACCOUNTS -->
<div class="container mt-0 mb-3 qlc-content-first">
  <div class="row">
    
    <div class="col-12 pl-0 pr-0">
      
      <!-- TITLE -->
      <div class="col-lg-12 mb-3 mt-2 pl-md-2 pr-md-2">
        <div class="content-title">
          <h1>Tokens</h1>
        </div>
      </div>
      
      <!-- LIST -->
      <div class="col-lg-12 mb-4 pl-md-2 pr-md-2">
        <div class="content-box-white">
          
          
          <div class="container">
            
            <div class="row qlc-table-header">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-5">TOKEN NAME</div>
                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-1 col-2 d-none d-lg-block">SYMBOL</div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5 col-2 d-none d-sm-block text-right">TOTAL SUPPLY</div>
                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-1 col-2 d-none d-lg-block text-right">Decimals</div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-7 text-right">Owner</div> 
            </div>
            <div class="row qlc-table-row closed" *ngFor="let token of tokens">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-5"><img src="assets/img/token-{{ token.image | lowercase }}.png" class="table-token"> {{ token.tokenName }}</div>
                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-1 col-2 d-none d-lg-block">{{ token.tokenSymbol }}</div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5 col-2 d-none d-sm-block text-right">{{ token.totalSupply | qlc:token.decimals | currency:'':'':'1.0-0' }}</div>
                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-1 col-2 d-none d-lg-block text-right">{{ token.decimals }}</div>
                <div class="d-none d-xl-block col-xl-6 text-right pr-4">
                  <a [routerLink]="'/account/' + token.owner">{{ token.owner }}</a>
                </div>
                <div class="d-none d-lg-block d-xl-none col-lg-6 text-right pr-4">
                  <a [routerLink]="'/account/' + token.owner">{{ token.owner | squeeze : '25,25' }}</a>
                </div>
                <div class="d-none d-md-block d-lg-none col-md-6 text-right pr-4">
                  <a [routerLink]="'/account/' + token.owner">{{ token.owner | squeeze : '15,15' }}</a>
                </div>
                <div class="d-none d-sm-block d-md-none col-sm-4 text-right pr-4">
                  <a [routerLink]="'/account/' + token.owner">{{ token.owner | squeeze : '8,8' }}</a>
                </div>
                <div class="d-block d-sm-none col-7 text-right pr-4">
                  <a [routerLink]="'/account/' + token.owner">{{ token.owner | squeeze : '8,8' }}</a>
                </div>

              <div class="container transaction-details"></div>
            </div>
          </div>
          
          
        </div>
      </div>
      
      
      
    </div>
    
  </div>
</div>

<div class="container mt-4 mb-4">
  <div class="row">
  </div>
</div>
