<div class="stake-screen-1" *ngIf='step == 1'>



	<!-- SEND FORM -->
	<div class="container mt-0 qlc-content-first">
		<div class="row">
			<div class="col-12 pl-0 pr-0 pb-2">
				<div class="container">
						<div class="row">
							<!-- TITLE -->
							<div class="col-md-9 col-12 mt-2 pl-md-2 pr-md-2">
								<div class="content-title">
									<h1>New Staking</h1>
								</div>
							</div>
							<div class="col-md-3 col-12 pl-md-2 pr-md-2">
									<button type="submit" class="btn btn-primary content-header float-right w-100 pl-0 pr-0" routerLink="/mystakings">
										Back to my Stakings
									</button>
							</div>
						</div>
					</div>
			</div>
		</div>
  </div>
  

  <div class="container accounts">
		<div class="row">

			<!-- FORM -->
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 pb-3" [formGroup]="stakingForm" >
					<div class="container pl-0 pr-0">
						<div class="row pl-0 pr-0">


						<div class="col-12 pl-md-2 pr-md-2 pl-sm-2 pb-2 order-md-4 order-1 mb-0 mb-md-4">
							<div class="content-box-white h-auto mt-2 pb-2 pl-2 pr-2">

								<div class="container ml-1 pr-3 pl-3">

									<div class="row defaultTable sendTokens">
										<div class="col-12">

                      <div class="row pt-0" style="border-bottom: 1px solid #edeef4;">
                        <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-14px;">
                          STAKING TYPE
                        </div>
                        <div class="col-md-9 text-left">
                          <div class="form-group">
                            <input type="radio" name="stakingType" formControlName="stakingType" value="0" id="s1"><label for="s1" style="padding-left:10px;padding-right:30px;"> For Vote</label>
                            <input type="radio" name="stakingType" formControlName="stakingType" value="1" id="s2"><label for="s2" style="padding-left:10px;padding-right:30px;"> For Confidant</label>
                            <input type="radio" name="stakingType" formControlName="stakingType" value="2" id="s3"><label for="s3" style="padding-left:10px;padding-right:30px;"> For Minting</label>
                          </div>
                        </div>
                      </div>

                      <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                        <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2">
                          STAKE FROM
                        </div>
                        <div class="col-md-9 text-left">
                          <div class="form-group">
                            <select class="custom-select" formControlName="fromNEOWallet" (change)="selectAccount()">
                              <option *ngFor="let account of neowallets" [value]="account.id"
                                >{{ account.addressBookName ? account.addressBookName + ' - ' : '' }} {{ account.id }} {{ ((account.balances != undefined && account.balances['QLINK TOKEN'] != undefined)? ' ('+account.balances['QLINK TOKEN'] + ' QLC)' : '') }} </option>
                            </select>
                            <p style="max-width:100%;font-size:11px;padding-left:16px;padding-top:8px;">Select a NEP-5 address you want to stake QLC from</p>
                          </div>
                        </div>
                      </div>


                      <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                        <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2">
                          STAKE TO
                        </div>
                        <div class="col-md-9 text-left">
                          <div class="form-group">
                            <select class="custom-select" formControlName="toQLCWallet">
                              <option *ngFor="let account of accounts" [value]="account.id"
                                >{{ account.addressBookName ? account.addressBookName + ' - ' : '' }} {{ account.id }}</option>
                            </select>
                            <p style="max-width:100%;font-size:11px;padding-left:16px;padding-top:8px;">Select a QLC Chain address you want to receive your QGAS to</p>
                          </div>
                        </div>
                      </div>
  


											
											<div class="row rowContent mb-5 mt-4" style="border-bottom: 1px solid #edeef4;">
												<div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2">AMOUNT TO STAKE</div>
												<div class="col-md-9">
													<div class="row align-items-top">
														<div class="col-md-6 pb-3 pb-md-0">
															<div class="input-group">
																<div class="input-group-prepend">
																	<div class="input-group-text ">
																		QLC
																	</div>
																</div>
																<input
																	type="text"
																	class="form-control inlineForm"
                                  formControlName="amounToStake"
																	placeholder="{{ stakingTypes[this.stakingForm.value.stakingType].minAmount }}"
																	onfocus="this.placeholder = ''"
																	style="height: 42px !important;"
																/>
																<div class="input-group-append">
																	<a (click)="setMaxAmount()">
																		<div class="input-group-text maxLink">Max</div>
																	</a>
																</div>
                              </div>
                              <p style="max-width:100%;font-size:11px;padding-left:16px;padding-top:8px;">The minimum stake amount is {{ stakingTypes[this.stakingForm.value.stakingType].minAmount | currency:'':'':'1.2-8' }} QLC</p>
														</div>

                            <div class="col-md-6">
                              <div class="row align-items-top">
                                <div class="col-md-6 dataName pb-3 pb-md-0 form-label-custom-2">AVAILABLE BALANCE</div>
                                <div class="col-md-6 ">
                                    <div class="text-right fiat pr-1" style="color:#595757;"><strong>{{ this.stakingForm.value.availableQLCBalance | currency:'':'':'1.2-8' }} QLC</strong></div>
                                </div>
                              </div>
                            </div>

													</div>
													
												</div>
											</div>


                      <div class="row rowContent mb-4 mt-4" style="border-bottom: 1px solid #edeef4;">
                        <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2">STAKING PERIOD</div>
                        <div class="col-md-9">
                          <div class="row align-items-top">
                            <div class="col-md-6 pb-3 pb-md-0">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text ">
                                    Days
                                  </div>
                                </div>
                                <input
                                  type="text"
                                  class="form-control inlineForm"
                                  formControlName="durationInDays"
                                  placeholder="{{ stakingTypes[this.stakingForm.value.stakingType].minTime }}"
                                  onfocus="this.placeholder = ''"
                                  style="height: 42px !important;" (change)="setDuration()"
                                />
                                <div class="input-group-append">
                                  <div class="input-group-text maxLink">&nbsp;</div>
                                </div>
                              </div>
                              <p style="max-width:100%;font-size:11px;padding-left:16px;padding-top:8px;">The minimum period is {{ stakingTypes[this.stakingForm.value.stakingType].minTime }} days</p>
                            </div>

                            <div class="col-md-6">
                              <div class="row align-items-top">
                                <div class="col-md-7 dataName pb-3 pb-md-0 form-label-custom-2">STAKING WILL END ON</div>
                                <div class="col-md-5 ">
                                    <div class="text-right fiat pr-1" style="color:#595757;"><strong>{{ this.stakingForm.value.endDate | date: 'dd.MM.yyyy' }}</strong></div>
                                </div>
                              </div>
                            </div>

                          </div>
                          
                        </div>
                      </div>



                      <div class="issue-confidant mb-4 mt-4" *ngIf="this.stakingForm.value.stakingType == 1">

                        <div class="row pt-0" style="border-bottom: 1px solid #edeef4;">
                          <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2 mb-3">
                            YOUR EMAIL
                          </div>
                          <div class="col-md-9 text-left mb-3">
                            <div class="input-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Your E-mail (used to place the order)"
                                onfocus="this.placeholder = ''"
                                style="height: 42px !important;"
                              />
                            </div>
                          </div>

                          <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2 mb-3">
                            ORDER NUMBER
                          </div>
                          <div class="col-md-9 text-left mb-3">
                            <div class="input-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Confidant Order Number"
                                onfocus="this.placeholder = ''"
                                style="height: 42px !important;"
                              />
                            </div>
                          </div>

                          <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2 mb-3">
                            MAC ADDRESS
                          </div>
                          <div class="col-md-9 text-left mb-4">
                            <div class="input-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Your Confidant Mac Address"
                                onfocus="this.placeholder = ''"
                                style="height: 42px !important;"
                              />
                            </div>
                          </div>


                          <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2 mb-3">
                             
                          </div>
                          <div class="col-md-9 text-left mb-1">
                            <div class="input-group">
                              <span class="ownership-check" class="w-100"><p><img src="../../../assets/img/loading-blue.gif" style="height:24px; width:auto; margin-right:8px;margin-top:-2px;"> Verifying Ownership...</p></span>
                              <span class="ownership-success" class="w-100"><p><img src="../../../assets/img/qlc-icon-staking-success-green.svg" style="height:20px; width:auto; margin-right:8px;margin-top:-2px;"> Ownership Confirmed.</p></span>
                              <span class="ownership-fail" class="w-100"><p><img src="../../../assets/img/qlc-icon-staking-fail-red.svg" style="height:20px; width:auto; margin-right:8px;margin-top:-2px;"> Ownership Confirmation Failed. <em>Change the values and try again.</em></p></span>
                            </div>
                          </div>

                       
                        </div>

                      </div>


                      
                      <div class="issue-token" *ngIf="this.stakingForm.value.stakingType == 2">

                            <div class="row pt-0" style="border-bottom: 1px solid #edeef4;">
                              <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2 mb-3">
                                TOKEN NAME
                              </div>
                              <div class="col-md-9 text-left mb-3">
                                <div class="input-group">
                                  <input
                                    type="text"
                                    formControlName="tokenName"
                                    class="form-control"
                                    placeholder="Token name"
                                    onfocus="this.placeholder = ''"
                                    style="height: 42px !important;"
                                  />
                                </div>
                              </div>

                              <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2 mb-3">
                                TOKEN SYMBOL
                              </div>
                              <div class="col-md-9 text-left mb-3">
                                <div class="input-group">
                                  <input
                                    type="text"
                                    formControlName="tokenSymbol"
                                    class="form-control"
                                    placeholder="XYZ"
                                    onfocus="this.placeholder = ''"
                                    style="height: 42px !important;"
                                  />
                                </div>
                              </div>

                              <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2 mb-3">
                                TOKEN SUPPLY
                              </div>
                              <div class="col-md-9 text-left mb-3">
                                <div class="input-group">
                                  <input
                                    type="text"
                                    formControlName="tokenSupply"
                                    class="form-control"
                                    placeholder="100000000"
                                    onfocus="this.placeholder = ''"
                                    style="height: 42px !important;"
                                  />
                                </div>
                              </div>

                              <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2 mb-5">
                                TOKEN DECIMALS
                              </div>
                              <div class="col-md-9 text-left mb-3">
                                <div class="input-group">
                                  <input
                                    type="text"
                                    formControlName="tokenDecimals"
                                    class="form-control"
                                    placeholder="8"
                                    onfocus="this.placeholder = ''"
                                    style="height: 42px !important;"
                                  />
                                </div>
                              </div>                        
                            </div>

                      </div>



											<div class="row rowAmount pl-3 pl-sm-3 pl-sm-3 pr-3 pr-sm-3 pr-sm-3 pt-0 mt-0 pb-3 pt-4">
												<div class="col-md-3"></div>
												<div class="col-lg-4 col-md-4 col-sm-12 col-12 pl-0 pr-0 pl-md-2 pr-md-2">
													<button (click)="step = 2" type="submit" class="btn btn-primary" style="min-width:100%;">
														REVIEW & INVOKE STAKING
													</button>
												</div>
											</div>
                    </div>
                    

									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
      </div>
      

      
			<!-- EXPLAINER -->
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-xl-5 pb-lg-5 pb-2 mb-md-0 mb-sm-0 mb-md-0 mb-0">
				<div class="content-box-blue h-100 pb-3">
					<div class="container">

            <div class="row qlc-table-header-blue">
              <div class="col-12">ABOUT STAKING TYPES</div>
            </div>
            <div class="row qlc-table-row-blue mt-3 qlc-stake-explainer pr-3">
              <hr style="height:1px;width:100%;border:none;background:#7ca7e5;display:block;" />

              <p style="width:100%;" class="mt-2"><strong>FOR VOTING/MINING NODE</strong></p>
              <p>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Amount:</span> 1 QLC<br>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Staking Period:</span> 10 days<br>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Voting Earning per day:</span> <br>Your staked amount/whole network staked amount x 8,302 QGAS<br>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Mining Earning per day:</span> <br>Miners to share the pool of 8219 QGAS<br>Miner Earning = Voting + Mining Earning<br><span style="color:#7ca7e5;"><em><br>*Stake 1 million QLC or above is entitled to be a mining node, or run a mining pool</em></span><br>
              </p>

              <hr style="height:1px;width:100%;border:none;background:#7ca7e5;display:block;" />

              <p style="width:100%;" class="mt-2"><strong>FOR CONFIDANT STATION</strong><br></p>
              <p>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Amount:</span> 2,000 QLC<br>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Staking Period:</span> 90 days<br>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Rewards: </span> Same as voting node - QGAS consumption<br><span style="color:#7ca7e5;"><em><br>*First three month promotional period QGAS consumption will be 0</em></span><br><br>
                Purchase a <a href="https://myconfidant.io" target="_blank" style="text-decoration: underline; color:#fff;">Confidant</a> with 20% discount with Crypto Payment
              </p>
              
              <hr style="height:1px;width:100%;border:none;background:#7ca7e5;display:block;" />

              <p style="width:100%;" class="mt-2"><strong>FOR TOKEN MINTAGE</strong><br></p>
              <p>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Amount:</span> 500,000 QLC<br>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Staking Period:</span> 180 days<br>
                <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Rewards: </span> Same as voting node and entitled to issue a token<br>
              </p>
            </div>

        </div>
      </div>
    </div>


		</div>
	</div>		



</div>






<div class="stake-screen-1"  *ngIf='step == 2'>



	<!-- REVIEW A -->
	<div class="container mt-0 qlc-content-first">
		<div class="row">
			<div class="col-12 pl-0 pr-0 pb-2">
				<div class="container">
						<div class="row">
							<!-- TITLE -->
							<div class="col-md-9 col-12 mt-2 pl-md-2 pr-md-2">
								<div class="content-title">
									<h1>Review Your Staking</h1>
								</div>
							</div>
							<div class="col-md-3 col-12 pl-md-2 pr-md-2">
									<button (click)="step = 1" type="submit" class="btn btn-primary content-header float-right w-100 pl-0 pr-0">
										CHANGE / EDIT
									</button>
							</div>
						</div>
					</div>
			</div>
		</div>
  </div>
  

  <div class="container accounts">
		<div class="row">

			<!-- STAKING A -->
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 pb-3">
					<div class="container pl-0 pr-0">
						<div class="row pl-0 pr-0">


						<div class="col-12 pl-md-2 pr-md-2 pl-sm-2 pb-2 order-md-4 order-1 mb-0 mb-md-4">
							<div class="content-box-white h-auto mt-2 pb-2 pl-2 pr-2">

								<div class="container ml-1 pr-3 pl-3">

									<div class="row defaultTable sendTokens">
										<div class="col-12">

                      <div class="row pt-0" style="border-bottom: 1px solid #edeef4;">
                        <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                          STAKING TYPE
                        </div>
                        <div class="col-md-9 text-left pb-3">
                          {{ stakingTypes[stakingForm.value.stakingType].name }}
                        </div>
                      </div>

                      <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                        <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                          STAKE FROM
                        </div>
                        <div class="col-md-9 pb-3 text-left">
                          {{ stakingForm.value.fromNEOWallet }}
                        </div>
                      </div>


                      <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                        <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                          STAKE TO
                        </div>
                        <div class="col-md-9 pb-3 text-left">
                          {{ stakingForm.value.toQLCWallet }}
                        </div>
                      </div>


                      <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                        <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                          AMOUNT TO STAKE
                        </div>
                        <div class="col-md-9 pb-3 text-left">
                          {{ stakingForm.value.amounToStake  | currency:'':'':'1.2-8' }} QLC
                        </div>
                      </div>
  
                      <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                        <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                          STAKING PERIOD
                        </div>
                        <div class="col-md-9 pb-3 text-left">
                          {{ stakingForm.value.durationInDays }} Days (Until {{ this.stakingForm.value.endDate | date: 'dd.MM.yyyy' }})
                        </div> 
                      </div>

                      <div class="review-confidant" *ngIf="this.stakingForm.value.stakingType == 1">

                          <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                            <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                              YOUR EMAIL
                            </div>
                            <div class="col-md-9 pb-3 text-left">
                              some@email.com
                            </div>
                          </div>

                          <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                            <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                              ORDER NUMBER
                            </div>
                            <div class="col-md-9 pb-3 text-left">
                              2132358z2oi5hlk153glkuu15glku45g
                            </div>
                          </div>

                          <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                            <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                              MAC ADDRESS
                            </div>
                            <div class="col-md-9 pb-3 text-left">
                              00-14-22-01-23-45
                            </div>
                          </div>

                      </div>

                      <div class="review-mintage" *ngIf="this.stakingForm.value.stakingType == 2">

                          <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                            <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                              TOKEN NAME
                            </div>
                            <div class="col-md-9 pb-3 text-left">
                              My New Token
                            </div>
                          </div>

                          <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                            <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                              TOKEN SYMBOL
                            </div>
                            <div class="col-md-9 pb-3 text-left">
                              XYZ
                            </div>
                          </div>

                          <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                            <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                              TOKEN SUPPLY
                            </div>
                            <div class="col-md-9 pb-3 text-left">
                              100,000,000
                            </div>
                          </div>

                          <div class="row pt-4" style="border-bottom: 1px solid #edeef4;">
                            <div class="col-md-3 dataName pb-3 pb-md-0 form-label-custom-2" style="margin-top:-10px;">
                              TOKEN DECIMALS
                            </div>
                            <div class="col-md-9 pb-3 text-left">
                              8
                            </div>
                          </div>

                      </div>

                      
											<div class="row rowAmount pl-3 pl-sm-3 pl-sm-3 pr-3 pr-sm-3 pr-sm-3 pt-0 mt-0 pb-3 pt-4">
												<div class="col-md-3"></div>
												<div class="col-lg-4 col-md-4 col-sm-12 col-12 pl-0 pr-0 pl-md-2 pr-md-2">
													<button (click)="confirmInvoke()" type="submit" class="btn btn-primary" style="min-width:100%;">
														CONFIRM AND INVOKE NOW
													</button>
												</div>
											</div>
                    </div>
                    

									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
      </div>
      

      
			<!-- EXPLAINER -->
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-2 mb-0 pl-md-2 pr-md-2 pl-sm-2 pb-xl-5 pb-lg-5 pb-2 mb-md-0 mb-sm-0 mb-md-0 mb-0">
				<div class="content-box-blue h-100 pb-3">
					<div class="container">

            <div class="row qlc-table-header-blue">
              <div class="col-12">ABOUT YOUR STAKING TYPE</div>
            </div>
            <div class="row qlc-table-row-blue mt-3 qlc-stake-explainer pr-3">
              <hr style="height:1px;width:100%;border:none;background:#7ca7e5;display:block;" />

              <div class="explainer-voting">
                <p style="width:100%;" class="mt-2"><strong>FOR VOTING/MINING NODE</strong></p>
                <p>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Amount:</span> 1 QLC<br>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Staking Period:</span> 10 days<br>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Voting Earning per day:</span> <br>Your staked amount/whole network staked amount x 8,302 QGAS<br>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Mining Earning per day:</span> <br>Miners to share the pool of 8219 QGAS<br>Miner Earning = Voting + Mining Earning<br><span style="color:#7ca7e5;"><em><br>*Stake 1 million QLC or above is entitled to be a mining node, or run a mining pool</em></span><br>
                </p>
              </div>

              <div class="explainer-confidant" style="opacity:0.4">
                <p style="width:100%;" class="mt-2"><strong>FOR CONFIDANT STATION</strong><br></p>
                <p>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Amount:</span> 2,000 QLC<br>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Staking Period:</span> 90 days<br>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Rewards: </span> Same as voting node - QGAS consumption<br><span style="color:#7ca7e5;"><em><br>*First three month promotional period QGAS consumption will be 0</em></span><br><br>
                  Purchase a <a href="https://myconfidant.io" target="_blank" style="text-decoration: underline; color:#fff;">Confidant</a> with 20% discount with Crypto Payment
                </p>
              </div>

              <div class="explainer-mintage" style="opacity:0.4">
                <p style="width:100%;" class="mt-2"><strong>FOR TOKEN MINTAGE</strong><br></p>
                <p>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Amount:</span> 500,000 QLC<br>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Minimum Staking Period:</span> 180 days<br>
                  <span style="color:#7ca7e5;margin-top:4px;display:inline-block;">Rewards: </span> Same as voting node and entitled to issue a token<br>
                </p>
              </div>

            </div>

        </div>
      </div>
    </div>


		</div>
  </div>		
  



</div>







<div class="stake-screen-1"  *ngIf='step == 3'>



	<!-- LOADING -->
	<div class="container mt-0 qlc-content-first">
		<div class="row">
			<div class="col-12 pl-0 pr-0 pb-2">
				<div class="container">
						<div class="row">
							<!-- TITLE -->
							<div class="col-md-9 col-12 mt-2 pl-md-2 pr-md-2">
								<div class="content-title">
									<h1>Invoking in progress</h1>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
  </div>
  

  <div class="container accounts">
		<div class="row">

			<!-- INFO -->
			<div class="col-12 pb-3">
					<div class="container pl-0 pr-0">
						<div class="row pl-0 pr-0">


						<div class="col-12 pl-md-2 pr-md-2 pl-sm-2 pb-2 order-md-4 order-1 mb-0 mb-md-4">
							<div class="content-box-white h-auto mt-2 pl-5 pr-5 text-center pt-5 pb-5">

                <h3>Please wait</h3>
                <h5 class="pt-3">The invoking process can take up to a couple of minutes.</h5>

                <div class="container">
                  <div class="row">
                    <div class="col-md-6 offset-md-3 mt-5 mb-5">

                      <div class="progress" style="height:32px;border-radius:100px;">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                          &nbsp;
                        </div>
                      </div> 

                    </div>
                  </div>
                </div>

                <p style="color:#c10f0f;"><strong>Important:</strong> Don't leave or close this page!</p>

							</div>
						</div>

					</div>
				</div>
      </div>
      


		</div>
	</div>		



</div>





<div class="stake-screen-1" *ngIf="step == 4">



	<!-- COMPLETE -->
	<div class="container mt-0 qlc-content-first">
		<div class="row">
			<div class="col-12 pl-0 pr-0 pb-2">
				<div class="container">
						<div class="row">
							<!-- TITLE -->
							<div class="col-md-9 col-12 mt-2 pl-md-2 pr-md-2">
								<div class="content-title">
									<h1>Invoking complete</h1>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
  </div>
  

  <div class="container accounts">
		<div class="row">

			<!-- INFO -->
			<div class="col-12 pb-3">
					<div class="container pl-0 pr-0">
						<div class="row pl-0 pr-0">


						<div class="col-12 pl-md-2 pr-md-2 pl-sm-2 pb-2 order-md-4 order-1 mb-0 mb-md-4">
							<div class="content-box-white h-auto mt-2 pl-5 pr-5 text-center pt-5 pb-5">

                <h3>Woohoo!</h3>
                <h5 class="pt-3">The invoking of your staking was successful.</h5>

                <div class="container">
                  <div class="row">
                    <div class="col-md-6 offset-md-3 mt-5 mb-5">

                      <img src="../../../assets/img/qlc-icon-staking-success-green.svg" style="height:128px;width:128px;">

                    </div>
                  </div>
                </div>

                <div class="container">
                    <div class="row">
                      <div class="col-md-4 offset-md-4 mb-4">
  
                        <button type="submit" class="btn btn-primary" style="min-width:100%;" routerLink="/mystakings" >
                          BACK TO MY STAKINGS
                        </button>

                        <button type="submit" class="btn btn-primary mt-3" style="min-width:100%;" (click)="step=1">
                          INVOKE A NEW STAKING
                        </button>

                      </div>
                    </div>
                  </div>

                

							</div>
						</div>

					</div>
				</div>
      </div>
      


		</div>
	</div>		



</div>







