<!-- LATEST TRANSACTIONS -->
<div class="container mt-0 mb-3 qlc-content-first">
  <div class="row">
    
    <div class="col-12 pl-0 pr-0">
      
      <!-- TITLE -->
      <div class="col-lg-12 mb-3 mt-2 pl-md-2 pr-md-2">
        <div class="content-title">
          <h1>Latest Transactions</h1>
        </div>
      </div>
      
      <!-- LIST -->
      <div class="col-lg-12 mb-4 pl-md-2 pr-md-2">
        <div class="content-box-white">
          
          
          <div class="container">
            
            <div class="row qlc-table-header">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-4">Type</div>
              <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5 col-7 text-truncate">Account / Transaction ID</div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 pr-sm-0 pr-4 text-right">Amount</div>
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 d-none d-sm-block col-6 pr-4 text-right">Time</div>
            </div>
            
          <div class="row qlc-table-row qlc-table-row-twolines closed" *ngFor="let transaction of transactions">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-4 pb-0">
              <span class="qlc-icon icon-{{ transaction.type }}" title="{{ transaction.type }}"></span>
              <span class="d-none d-sm-none d-md-inline-block">
                <span class="text-color-lightgrey">State</span><br>
                <span class="text-bold-grey">{{ transaction.type }}</span>
              </span>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5 col-7 pb-0 text-truncate">
              <span class="text-color-lightgrey">{{transaction.type == 'Send' ? 'to' : 'from'}}: </span> 
              <a [routerLink]="'/account/' + (transaction.link_as_account || transaction.address)">{{ transaction.link_as_account || transaction.address }}</a>
              <a [routerLink]="'/transaction/' + transaction.hash"><br>
                <span class="text-tiny">{{ transaction.hash }}</span>
              </a>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 pb-0 pr-sm-0 pr-4 text-right {{
              transaction.type == 'Send' ? 'text-color-red' : 'text-color-green'
            }}">
            <span data-toggle="tooltip" data-placement="top" title="+9.00 $">{{transaction.type == 'Send' ? '-' : '+'}} {{ transaction.amount | qlc }}</span>
            <br><span class="text-color-grey">{{ transaction.tokenName }}</span>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-12 pr-4 text-right">
            {{ transaction.timestamp * 1000 | date: 'short' }}
          </div>
          <div class="container transaction-details">
            
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
  <div class="col-lg-12 mb-0 mt-2 pl-md-2 pr-md-2 text-center" *ngIf="pages.length > 1">
    <a class="btn btn-primary btn-blue btn-box" *ngIf="activePage != 1" (click)="goTo(activePage-1)">&lt;</a>
    <span *ngFor="let page of pages">
      <a class="btn btn-primary btn-white btn-box" [ngClass]="{'active' : page == activePage}" (click)="goTo(page)" *ngIf="page != '...'">{{ page }}</a>
      <span *ngIf="page == '...'">&nbsp;...&nbsp;</span>
    </span>
    <a class="btn btn-primary btn-blue btn-box" *ngIf="activePage < allPages" (click)="goTo(activePage+1)">&gt;</a>
  </div>
  
  
</div>

</div>
</div>